layout {
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
	tab name="editor" focus=true {
	    pane split_direction="horizontal" {
			pane size="80%" command="hx" focus=true
	        pane size="20%"
	    }
    }
	tab name="git" {
		pane command="lazygit"
	}
	tab name="files" {
		pane command="nnn"
	}
}