
#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <7>; \
  };

COMBO(m_the, &macro_m_the, P_E)
COMBO(m_of, &macro_m_of, P_O)
COMBO(m_and, &macro_m_and, P_N P_D)
COMBO(m_a, &macro_m_a, P_A)
COMBO(m_to, &macro_m_to, P_T)
COMBO(m_in, &macro_m_in, P_N)
COMBO(m_is, &macro_m_is, P_S)
COMBO(m_you, &macro_m_you, P_Y P_U)
COMBO(m_that, &macro_m_that, P_T P_H)
COMBO(m_it, &macro_m_it, P_L)
COMBO(m_he, &macro_m_he, P_H)
COMBO(m_was, &macro_m_was, P_W P_A)
COMBO(m_for, &macro_m_for, P_F P_R)
COMBO(m_on, &macro_m_on, P_P)
COMBO(m_are, &macro_m_are, P_A P_R)
COMBO(m_as, &macro_m_as, P_J)
COMBO(m_with, &macro_m_with, P_W P_I)
COMBO(m_his, &macro_m_his, P_I P_S)
COMBO(m_they, &macro_m_they, P_T P_Y)
COMBO(m_I, &macro_m_I, P_I)
COMBO(m_at, &macro_m_at, P_K)
COMBO(m_be, &macro_m_be, P_B)
COMBO(m_this, &macro_m_this, P_T P_H P_S)
COMBO(m_have, &macro_m_have, P_H P_V)
COMBO(m_from, &macro_m_from, P_F P_M)
COMBO(m_or, &macro_m_or, P_R)
COMBO(m_one, &macro_m_one, P_O P_E)
COMBO(m_had, &macro_m_had, P_H P_A)
COMBO(m_by, &macro_m_by, P_Y)
COMBO(m_word, &macro_m_word, P_W P_R)
COMBO(m_but, &macro_m_but, P_B P_U)
COMBO(m_not, &macro_m_not, P_N P_T)
COMBO(m_what, &macro_m_what, P_W P_T)
COMBO(m_all, &macro_m_all, P_A P_L)
COMBO(m_were, &macro_m_were, P_W P_R P_E)
COMBO(m_we, &macro_m_we, P_W)
COMBO(m_when, &macro_m_when, P_W P_H P_E)
COMBO(m_your, &macro_m_your, P_Y P_R)
COMBO(m_can, &macro_m_can, P_C P_N)
COMBO(m_said, &macro_m_said, P_S P_D)
COMBO(m_there, &macro_m_there, P_T P_H P_E)
COMBO(m_use, &macro_m_use, P_U P_S)
COMBO(m_an, &macro_m_an, P_V)
COMBO(m_each, &macro_m_each, P_E P_H)
COMBO(m_which, &macro_m_which, P_W P_H P_I)
COMBO(m_she, &macro_m_she, P_S P_H)
COMBO(m_do, &macro_m_do, P_D)
COMBO(m_how, &macro_m_how, P_H P_O)
COMBO(m_their, &macro_m_their, P_T P_H P_R)
COMBO(m_if, &macro_m_if, P_F)
COMBO(m_will, &macro_m_will, P_W P_L)
COMBO(m_up, &macro_m_up, P_U)
COMBO(m_other, &macro_m_other, P_O P_T P_R)
COMBO(m_about, &macro_m_about, P_A P_B P_O)
COMBO(m_out, &macro_m_out, P_O P_U)
COMBO(m_many, &macro_m_many, P_M P_N P_Y)
COMBO(m_then, &macro_m_then, P_T P_H P_N)
COMBO(m_them, &macro_m_them, P_T P_M)
COMBO(m_these, &macro_m_these, P_T P_H P_E P_S)
COMBO(m_so, &macro_m_so, P_C)
COMBO(m_some, &macro_m_some, P_S P_M)
COMBO(m_her, &macro_m_her, P_H P_R)
COMBO(m_would, &macro_m_would, P_W P_U)
COMBO(m_make, &macro_m_make, P_M P_K)
COMBO(m_like, &macro_m_like, P_L P_I)
COMBO(m_him, &macro_m_him, P_H P_M)
COMBO(m_into, &macro_m_into, P_I P_N)
COMBO(m_time, &macro_m_time, P_T P_M P_E)
COMBO(m_has, &macro_m_has, P_H P_Z)
COMBO(m_look, &macro_m_look, P_L P_U)
COMBO(m_two, &macro_m_two, P_T P_U)
COMBO(m_more, &macro_m_more, P_M P_R)
COMBO(m_write, &macro_m_write, P_W P_R P_T)
COMBO(m_go, &macro_m_go, P_G)
COMBO(m_see, &macro_m_see, P_S P_E)
COMBO(m_number, &macro_m_number, P_N P_M P_R)
COMBO(m_no, &macro_m_no, P_X)
COMBO(m_way, &macro_m_way, P_W P_Y)
COMBO(m_could, &macro_m_could, P_C P_D)
COMBO(m_people, &macro_m_people, P_P P_E P_L)
COMBO(m_my, &macro_m_my, P_Z)
COMBO(m_than, &macro_m_than, P_T P_A P_N)
COMBO(m_first, &macro_m_first, P_F P_S P_T)
COMBO(m_water, &macro_m_water, P_W P_A P_T)
COMBO(m_been, &macro_m_been, P_B P_E)
COMBO(m_call, &macro_m_call, P_C P_L)
COMBO(m_who, &macro_m_who, P_W P_O)
COMBO(m_oil, &macro_m_oil, P_O P_L)
COMBO(m_its, &macro_m_its, P_I P_T)
COMBO(m_now, &macro_m_now, P_N P_W)
COMBO(m_find, &macro_m_find, P_F P_I)
COMBO(m_long, &macro_m_long, P_L P_G)
COMBO(m_down, &macro_m_down, P_D P_O P_N)
COMBO(m_day, &macro_m_day, P_D P_Y)
COMBO(m_did, &macro_m_did, P_D P_I)
COMBO(m_get, &macro_m_get, P_G P_E)
COMBO(m_come, &macro_m_come, P_C P_O)
COMBO(m_made, &macro_m_made, P_M P_D)
COMBO(m_may, &macro_m_may, P_M P_Y)
COMBO(m_part, &macro_m_part, P_P P_T)
COMBO(m_over, &macro_m_over, P_O P_V)
COMBO(m_new, &macro_m_new, P_N P_E)
COMBO(m_sound, &macro_m_sound, P_S P_N)
COMBO(m_take, &macro_m_take, P_T P_A)
COMBO(m_only, &macro_m_only, P_O P_Y)
COMBO(m_work, &macro_m_work, P_W P_K)
COMBO(m_know, &macro_m_know, P_K P_N)
COMBO(m_place, &macro_m_place, P_P P_L P_A)
COMBO(m_year, &macro_m_year, P_Y P_A P_R)
COMBO(m_live, &macro_m_live, P_L P_V)
COMBO(m_me, &macro_m_me, P_M)
COMBO(m_back, &macro_m_back, P_B P_A)
COMBO(m_give, &macro_m_give, P_G P_I)
COMBO(m_most, &macro_m_most, P_M P_O)
COMBO(m_very, &macro_m_very, P_V P_E)
COMBO(m_after, &macro_m_after, P_A P_F P_T)
COMBO(m_thing, &macro_m_thing, P_T P_H P_I)
COMBO(m_our, &macro_m_our, P_O P_R)
COMBO(m_just, &macro_m_just, P_J P_U)
COMBO(m_name, &macro_m_name, P_N P_M)
COMBO(m_good, &macro_m_good, P_G P_D)
COMBO(m_man, &macro_m_man, P_M P_A)
COMBO(m_think, &macro_m_think, P_T P_I P_N)
COMBO(m_say, &macro_m_say, P_S P_Y)
COMBO(m_great, &macro_m_great, P_G P_T)
COMBO(m_where, &macro_m_where, P_W P_H P_R)
COMBO(m_help, &macro_m_help, P_H P_P)
COMBO(m_much, &macro_m_much, P_M P_U)
COMBO(m_line, &macro_m_line, P_L P_N)
COMBO(m_too, &macro_m_too, P_T P_O)
COMBO(m_mean, &macro_m_mean, P_M P_E P_A)
COMBO(m_old, &macro_m_old, P_O P_D)
COMBO(m_any, &macro_m_any, P_A P_N)
COMBO(m_same, &macro_m_same, P_S P_A P_M)
COMBO(m_tell, &macro_m_tell, P_T P_E)
COMBO(m_boy, &macro_m_boy, P_B P_O)
COMBO(m_came, &macro_m_came, P_C P_M)
COMBO(m_want, &macro_m_want, P_W P_N P_T)
COMBO(m_show, &macro_m_show, P_S P_H P_O)
COMBO(m_also, &macro_m_also, P_A P_L P_S)
COMBO(m_form, &macro_m_form, P_F P_R P_M)
COMBO(m_set, &macro_m_set, P_S P_T)
COMBO(m_put, &macro_m_put, P_P P_U)
COMBO(m_end, &macro_m_end, P_E P_D)
COMBO(m_does, &macro_m_does, P_D P_O P_S)
COMBO(m_well, &macro_m_well, P_W P_E)
COMBO(m_must, &macro_m_must, P_M P_S P_T)
COMBO(m_big, &macro_m_big, P_B P_I)
COMBO(m_even, &macro_m_even, P_E P_V P_N)
COMBO(m_such, &macro_m_such, P_S P_C P_H)
COMBO(m_turn, &macro_m_turn, P_T P_R P_N)
COMBO(m_here, &macro_m_here, P_H P_E P_R)
COMBO(m_why, &macro_m_why, P_W P_H)
COMBO(m_ask, &macro_m_ask, P_A P_K)
COMBO(m_went, &macro_m_went, P_W P_E P_T)
COMBO(m_men, &macro_m_men, P_M P_E)
COMBO(m_read, &macro_m_read, P_R P_E)
COMBO(m_need, &macro_m_need, P_N P_E P_D)
COMBO(m_land, &macro_m_land, P_L P_D)
COMBO(m_home, &macro_m_home, P_H P_O P_E)
COMBO(m_us, &macro_m_us, P_Q)
COMBO(m_move, &macro_m_move, P_M P_V)
COMBO(m_try, &macro_m_try, P_T P_R)
COMBO(m_kind, &macro_m_kind, P_K P_I)
COMBO(m_hand, &macro_m_hand, P_H P_D)
COMBO(m_off, &macro_m_off, P_O P_F)
COMBO(m_play, &macro_m_play, P_P P_L)
COMBO(m_air, &macro_m_air, P_A P_I)
COMBO(m_away, &macro_m_away, P_A P_Y)
COMBO(m_page, &macro_m_page, P_P P_A)
COMBO(m_high, &macro_m_high, P_H P_I)
COMBO(m_near, &macro_m_near, P_N P_R)
COMBO(m_add, &macro_m_add, P_A P_D)
COMBO(m_food, &macro_m_food, P_F P_D)
COMBO(m_own, &macro_m_own, P_O P_N)
COMBO(m_last, &macro_m_last, P_L P_S)
COMBO(m_keep, &macro_m_keep, P_K P_E)
COMBO(m_tree, &macro_m_tree, P_T P_R P_E)
COMBO(m_city, &macro_m_city, P_C P_I)
COMBO(m_eye, &macro_m_eye, P_E P_Y)
COMBO(m_head, &macro_m_head, P_H P_E P_D)
COMBO(m_saw, &macro_m_saw, P_S P_W)
COMBO(m_left, &macro_m_left, P_L P_F)
COMBO(m_few, &macro_m_few, P_F P_E)
COMBO(m_seem, &macro_m_seem, P_S P_E P_M)
COMBO(m_next, &macro_m_next, P_N P_X)
COMBO(m_hard, &macro_m_hard, P_H P_R P_D)
COMBO(m_open, &macro_m_open, P_O P_P)
COMBO(m_life, &macro_m_life, P_L P_F P_E)
COMBO(m_both, &macro_m_both, P_B P_H)
COMBO(m_got, &macro_m_got, P_G P_O)
COMBO(m_run, &macro_m_run, P_R P_U)
COMBO(m_side, &macro_m_side, P_S P_I P_D)
COMBO(m_feet, &macro_m_feet, P_F P_T)
COMBO(m_car, &macro_m_car, P_C P_A)
COMBO(m_mile, &macro_m_mile, P_M P_I)
COMBO(m_walk, &macro_m_walk, P_W P_A P_K)
COMBO(m_sea, &macro_m_sea, P_S P_A)
COMBO(m_grow, &macro_m_grow, P_G P_R)
COMBO(m_took, &macro_m_took, P_T P_K)
COMBO(m_four, &macro_m_four, P_F P_O P_R)
COMBO(m_once, &macro_m_once, P_O P_C P_E)
COMBO(m_book, &macro_m_book, P_B P_K)
COMBO(m_hear, &macro_m_hear, P_H P_E P_A)
COMBO(m_stop, &macro_m_stop, P_S P_P)
COMBO(m_miss, &macro_m_miss, P_M P_I P_S)
COMBO(m_idea, &macro_m_idea, P_I P_D P_E)
COMBO(m_eat, &macro_m_eat, P_E P_A)
COMBO(m_face, &macro_m_face, P_F P_A P_E)
COMBO(m_far, &macro_m_far, P_F P_A)
COMBO(m_let, &macro_m_let, P_L P_T)
COMBO(m_girl, &macro_m_girl, P_G P_I P_L)
COMBO(m_cut, &macro_m_cut, P_C P_U)
COMBO(m_talk, &macro_m_talk, P_T P_A P_K)
COMBO(m_soon, &macro_m_soon, P_S P_O)
COMBO(m_list, &macro_m_list, P_L P_S P_T)
COMBO(m_song, &macro_m_song, P_S P_G)
