#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

COMBO(m_BSPCDOTSPCLSHIFT, &macro_m_BSPCDOTSPCLSHIFT, 28 27 31)
COMBO(s_m_BSPCDOTSPCLSHIFT, &macro_s_m_BSPCDOTSPCLSHIFT, 32 28 27 31)
COMBO(m_a, &macro_m_a, 10 11 31)
COMBO(s_m_a, &macro_s_m_a, 32 10 11 31)
COMBO(m_I, &macro_m_I, 10 18 31)
COMBO(s_m_I, &macro_s_m_I, 32 10 18 31)
COMBO(m_an, &macro_m_an, 10 16 31)
COMBO(s_m_an, &macro_s_m_an, 32 10 16 31)
COMBO(m_as, &macro_m_as, 10 12 31)
COMBO(s_m_as, &macro_s_m_as, 32 10 12 31)
COMBO(m_at, &macro_m_at, 10 13 31)
COMBO(s_m_at, &macro_s_m_at, 32 10 13 31)
COMBO(m_be, &macro_m_be, 4 17 31)
COMBO(s_m_be, &macro_s_m_be, 32 4 17 31)
COMBO(m_bi, &macro_m_bi, 4 18 31)
COMBO(s_m_bi, &macro_s_m_bi, 32 4 18 31)
COMBO(m_by, &macro_m_by, 4 8 31)
COMBO(s_m_by, &macro_s_m_by, 32 4 8 31)
COMBO(m_do, &macro_m_do, 23 19 31)
COMBO(s_m_do, &macro_s_m_do, 32 23 19 31)
COMBO(m_ex, &macro_m_ex, 17 21 31)
COMBO(s_m_ex, &macro_s_m_ex, 32 17 21 31)
COMBO(m_go, &macro_m_go, 14 19 31)
COMBO(s_m_go, &macro_s_m_go, 32 14 19 31)
COMBO(m_he, &macro_m_he, 26 17 31)
COMBO(s_m_he, &macro_s_m_he, 32 26 17 31)
COMBO(m_hi, &macro_m_hi, 26 18 31)
COMBO(s_m_hi, &macro_s_m_hi, 32 26 18 31)
COMBO(m_if, &macro_m_if, 18 2 31)
COMBO(s_m_if, &macro_s_m_if, 32 18 2 31)
COMBO(m_in, &macro_m_in, 18 16 31)
COMBO(s_m_in, &macro_s_m_in, 32 18 16 31)
COMBO(m_is, &macro_m_is, 18 12 31)
COMBO(s_m_is, &macro_s_m_is, 32 18 12 31)
COMBO(m_it, &macro_m_it, 18 13 31)
COMBO(s_m_it, &macro_s_m_it, 32 18 13 31)
COMBO(m_me, &macro_m_me, 15 17 31)
COMBO(s_m_me, &macro_s_m_me, 32 15 17 31)
COMBO(m_my, &macro_m_my, 15 8 31)
COMBO(s_m_my, &macro_s_m_my, 32 15 8 31)
COMBO(m_no, &macro_m_no, 16 21 31)
COMBO(s_m_no, &macro_s_m_no, 32 16 21 31)
COMBO(m_of, &macro_m_of, 19 2 31)
COMBO(s_m_of, &macro_s_m_of, 32 19 2 31)
COMBO(m_OK, &macro_m_OK, 19 25 31)
COMBO(s_m_OK, &macro_s_m_OK, 32 19 25 31)
COMBO(m_on, &macro_m_on, 19 16 31)
COMBO(s_m_on, &macro_s_m_on, 32 19 16 31)
COMBO(m_or, &macro_m_or, 19 11 31)
COMBO(s_m_or, &macro_s_m_or, 32 19 11 31)
COMBO(m_so, &macro_m_so, 12 19 31)
COMBO(s_m_so, &macro_s_m_so, 32 12 19 31)
COMBO(m_to, &macro_m_to, 13 19 31)
COMBO(s_m_to, &macro_s_m_to, 32 13 19 31)
COMBO(m_up, &macro_m_up, 7 3 31)
COMBO(s_m_up, &macro_s_m_up, 32 7 3 31)
COMBO(m_us, &macro_m_us, 7 12 31)
COMBO(s_m_us, &macro_s_m_us, 32 7 12 31)
COMBO(m_we, &macro_m_we, 1 17 31)
COMBO(s_m_we, &macro_s_m_we, 32 1 17 31)
COMBO(m_all, &macro_m_all, 10 6 31)
COMBO(s_m_all, &macro_s_m_all, 32 10 6 31)
COMBO(m_and, &macro_m_and, 16 23 31)
COMBO(s_m_and, &macro_s_m_and, 32 16 23 31)
COMBO(m_any, &macro_m_any, 10 8 31)
COMBO(s_m_any, &macro_s_m_any, 32 10 8 31)
COMBO(m_ask, &macro_m_ask, 10 25 31)
COMBO(s_m_ask, &macro_s_m_ask, 32 10 25 31)
COMBO(m_but, &macro_m_but, 4 7 31)
COMBO(s_m_but, &macro_s_m_but, 32 4 7 31)
COMBO(m_can, &macro_m_can, 22 16 31)
COMBO(s_m_can, &macro_s_m_can, 32 22 16 31)
COMBO(m_day, &macro_m_day, 23 8 31)
COMBO(s_m_day, &macro_s_m_day, 32 23 8 31)
COMBO(m_end, &macro_m_end, 17 23 31)
COMBO(s_m_end, &macro_s_m_end, 32 17 23 31)
COMBO(m_eye, &macro_m_eye, 17 8 31)
COMBO(s_m_eye, &macro_s_m_eye, 32 17 8 31)
COMBO(m_few, &macro_m_few, 2 17 31)
COMBO(s_m_few, &macro_s_m_few, 32 2 17 31)
COMBO(m_for, &macro_m_for, 2 11 31)
COMBO(s_m_for, &macro_s_m_for, 32 2 11 31)
COMBO(m_get, &macro_m_get, 14 17 31)
COMBO(s_m_get, &macro_s_m_get, 32 14 17 31)
COMBO(m_how, &macro_m_how, 26 1 31)
COMBO(s_m_how, &macro_s_m_how, 32 26 1 31)
COMBO(m_man, &macro_m_man, 15 16 31)
COMBO(s_m_man, &macro_s_m_man, 32 15 16 31)
COMBO(m_may, &macro_m_may, 15 10 31)
COMBO(s_m_may, &macro_s_m_may, 32 15 10 31)
COMBO(m_new, &macro_m_new, 16 17 31)
COMBO(s_m_new, &macro_s_m_new, 32 16 17 31)
COMBO(m_not, &macro_m_not, 16 13 31)
COMBO(s_m_not, &macro_s_m_not, 32 16 13 31)
COMBO(m_now, &macro_m_now, 16 1 31)
COMBO(s_m_now, &macro_s_m_now, 32 16 1 31)
COMBO(m_off, &macro_m_off, 19 24 31)
COMBO(s_m_off, &macro_s_m_off, 32 19 24 31)
COMBO(m_old, &macro_m_old, 19 6 31)
COMBO(s_m_old, &macro_s_m_old, 32 19 6 31)
COMBO(m_one, &macro_m_one, 19 17 31)
COMBO(s_m_one, &macro_s_m_one, 32 19 17 31)
COMBO(m_out, &macro_m_out, 19 7 31)
COMBO(s_m_out, &macro_s_m_out, 32 19 7 31)
COMBO(m_own, &macro_m_own, 19 1 31)
COMBO(s_m_own, &macro_s_m_own, 32 19 1 31)
COMBO(m_run, &macro_m_run, 11 7 31)
COMBO(s_m_run, &macro_s_m_run, 32 11 7 31)
COMBO(m_say, &macro_m_say, 12 8 31)
COMBO(s_m_say, &macro_s_m_say, 32 12 8 31)
COMBO(m_see, &macro_m_see, 12 17 31)
COMBO(s_m_see, &macro_s_m_see, 32 12 17 31)
COMBO(m_set, &macro_m_set, 12 13 31)
COMBO(s_m_set, &macro_s_m_set, 32 12 13 31)
COMBO(m_she, &macro_m_she, 12 26 31)
COMBO(s_m_she, &macro_s_m_she, 32 12 26 31)
COMBO(m_the, &macro_m_the, 13 17 31)
COMBO(s_m_the, &macro_s_m_the, 32 13 17 31)
COMBO(m_too, &macro_m_too, 13 7 31)
COMBO(s_m_too, &macro_s_m_too, 32 13 7 31)
COMBO(m_use, &macro_m_use, 7 17 31)
COMBO(s_m_use, &macro_s_m_use, 32 7 17 31)
COMBO(m_way, &macro_m_way, 1 10 31)
COMBO(s_m_way, &macro_s_m_way, 32 1 10 31)
COMBO(m_who, &macro_m_who, 26 7 31)
COMBO(s_m_who, &macro_s_m_who, 32 26 7 31)
COMBO(m_why, &macro_m_why, 1 8 31)
COMBO(s_m_why, &macro_s_m_why, 32 1 8 31)
COMBO(m_you, &macro_m_you, 8 7 31)
COMBO(s_m_you, &macro_s_m_you, 32 8 7 31)
