#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <80>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

COMBO(m_the, &macro_m_the, 17 33)
COMBO(m_and, &macro_m_and, 16 33)
COMBO(m_you, &macro_m_you, 8 33)
COMBO(m_your, &macro_m_your, 8 31 33)
COMBO(m_say, &macro_m_say, 12 33)
COMBO(m_said, &macro_m_said, 12 30 33)
COMBO(m_saying, &macro_m_saying, 12 31 33)
COMBO(m_can, &macro_m_can, 10 33)
COMBO(m_could, &macro_m_could, 10 30 33)
COMBO(m_that, &macro_m_that, 13 33)
COMBO(m_with, &macro_m_with, 0 33)
COMBO(m_they, &macro_m_they, 2 33)
COMBO(m_them, &macro_m_them, 2 30 33)
COMBO(m_their, &macro_m_their, 2 31 33)
COMBO(m_have, &macro_m_have, 22 33)
COMBO(m_had, &macro_m_had, 22 30 33)
COMBO(m_having, &macro_m_having, 22 31 33)
COMBO(m_this, &macro_m_this, 18 33)
COMBO(m_these, &macro_m_these, 18 30 33)
COMBO(m_from, &macro_m_from, 6 33)
COMBO(m_word, &macro_m_word, 23 33)
COMBO(m_worded, &macro_m_worded, 23 30 33)
COMBO(m_wording, &macro_m_wording, 23 31 33)
COMBO(m_what, &macro_m_what, 19 33)
COMBO(m_some, &macro_m_some, 12 7 33)
COMBO(m_other, &macro_m_other, 7 33)
COMBO(m_were, &macro_m_were, 11 33)
COMBO(m_there, &macro_m_there, 13 26 33)
COMBO(m_when, &macro_m_when, 26 33)
COMBO(m_each, &macro_m_each, 17 10 33)
COMBO(m_which, &macro_m_which, 0 26 33)
COMBO(m_time, &macro_m_time, 13 18 33)
COMBO(m_timed, &macro_m_timed, 13 18 30 33)
COMBO(m_timing, &macro_m_timing, 13 18 31 33)
COMBO(m_will, &macro_m_will, 1 33)
COMBO(m_would, &macro_m_would, 1 30 33)
COMBO(m_about, &macro_m_about, 4 33)
COMBO(m_many, &macro_m_many, 15 33)
COMBO(m_then, &macro_m_then, 13 17 33)
COMBO(m_write, &macro_m_write, 0 18 33)
COMBO(m_wrote, &macro_m_wrote, 0 18 30 33)
COMBO(m_writing, &macro_m_writing, 0 18 31 33)
COMBO(m_like, &macro_m_like, 24 33)
COMBO(m_liked, &macro_m_liked, 24 30 33)
COMBO(m_liking, &macro_m_liking, 24 31 33)
COMBO(m_long, &macro_m_long, 14 33)
COMBO(m_make, &macro_m_make, 15 24 33)
COMBO(m_made, &macro_m_made, 15 24 30 33)
COMBO(m_making, &macro_m_making, 15 24 31 33)
COMBO(m_thing, &macro_m_thing, 13 16 33)
COMBO(m_things, &macro_m_things, 13 16 30 33)
COMBO(m_look, &macro_m_look, 1 7 33)
COMBO(m_looked, &macro_m_looked, 1 7 30 33)
COMBO(m_looking, &macro_m_looking, 1 7 31 33)
COMBO(m_more, &macro_m_more, 15 11 33)
COMBO(m_come, &macro_m_come, 10 15 33)
COMBO(m_came, &macro_m_came, 10 15 30 33)
COMBO(m_coming, &macro_m_coming, 10 15 31 33)
COMBO(m_number, &macro_m_number, 16 11 33)
COMBO(m_numbered, &macro_m_numbered, 16 11 30 33)
COMBO(m_numbering, &macro_m_numbering, 16 11 31 33)
COMBO(m_sound, &macro_m_sound, 12 16 33)
COMBO(m_sounded, &macro_m_sounded, 12 16 30 33)
COMBO(m_sounding, &macro_m_sounding, 12 16 31 33)
COMBO(m_most, &macro_m_most, 15 12 33)
COMBO(m_person, &macro_m_person, 3 33)
COMBO(m_people, &macro_m_people, 3 30 33)
COMBO(m_over, &macro_m_over, 7 22 33)
COMBO(m_know, &macro_m_know, 24 16 33)
COMBO(m_knew, &macro_m_knew, 24 16 30 33)
COMBO(m_knowing, &macro_m_knowing, 24 16 31 33)
COMBO(m_just, &macro_m_just, 21 33)
COMBO(m_world, &macro_m_world, 0 7 33)
COMBO(m_next, &macro_m_next, 25 33)
COMBO(m_question, &macro_m_question, 20 33)
COMBO(m_hold, &macro_m_hold, 26 23 33)
COMBO(m_system, &macro_m_system, 12 13 15 33)
