#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(m_BSPCDOTSPCLSHIFT, &kp BSPC &kp DOT &kp SPC &sk LSHIFT)
MACRO(s_m_BSPCDOTSPCLSHIFT, &sk LSHIFT &kp BSPC &kp DOT &kp SPC &sk LSHIFT)
MACRO(m_a, &kp A &kp SPC)
MACRO(s_m_a, &sk LSHIFT &kp A &kp SPC)
MACRO(m_I, &sk LSHIFT &kp I &kp SPC)
MACRO(s_m_I, &sk LSHIFT &sk LSHIFT &kp I &kp SPC)
MACRO(m_an, &kp A &kp N &kp SPC)
MACRO(s_m_an, &sk LSHIFT &kp A &kp N &kp SPC)
MACRO(m_as, &kp A &kp S &kp SPC)
MACRO(s_m_as, &sk LSHIFT &kp A &kp S &kp SPC)
MACRO(m_at, &kp A &kp T &kp SPC)
MACRO(s_m_at, &sk LSHIFT &kp A &kp T &kp SPC)
MACRO(m_be, &kp B &kp E &kp SPC)
MACRO(s_m_be, &sk LSHIFT &kp B &kp E &kp SPC)
MACRO(m_bi, &kp B &kp I &kp SPC)
MACRO(s_m_bi, &sk LSHIFT &kp B &kp I &kp SPC)
MACRO(m_by, &kp B &kp Y &kp SPC)
MACRO(s_m_by, &sk LSHIFT &kp B &kp Y &kp SPC)
MACRO(m_do, &kp D &kp O &kp SPC)
MACRO(s_m_do, &sk LSHIFT &kp D &kp O &kp SPC)
MACRO(m_ex, &kp E &kp X &kp SPC)
MACRO(s_m_ex, &sk LSHIFT &kp E &kp X &kp SPC)
MACRO(m_go, &kp G &kp O &kp SPC)
MACRO(s_m_go, &sk LSHIFT &kp G &kp O &kp SPC)
MACRO(m_he, &kp H &kp E &kp SPC)
MACRO(s_m_he, &sk LSHIFT &kp H &kp E &kp SPC)
MACRO(m_hi, &kp H &kp I &kp SPC)
MACRO(s_m_hi, &sk LSHIFT &kp H &kp I &kp SPC)
MACRO(m_if, &kp I &kp F &kp SPC)
MACRO(s_m_if, &sk LSHIFT &kp I &kp F &kp SPC)
MACRO(m_in, &kp I &kp N &kp SPC)
MACRO(s_m_in, &sk LSHIFT &kp I &kp N &kp SPC)
MACRO(m_is, &kp I &kp S &kp SPC)
MACRO(s_m_is, &sk LSHIFT &kp I &kp S &kp SPC)
MACRO(m_it, &kp I &kp T &kp SPC)
MACRO(s_m_it, &sk LSHIFT &kp I &kp T &kp SPC)
MACRO(m_me, &kp M &kp E &kp SPC)
MACRO(s_m_me, &sk LSHIFT &kp M &kp E &kp SPC)
MACRO(m_my, &kp M &kp Y &kp SPC)
MACRO(s_m_my, &sk LSHIFT &kp M &kp Y &kp SPC)
MACRO(m_no, &kp N &kp O &kp SPC)
MACRO(s_m_no, &sk LSHIFT &kp N &kp O &kp SPC)
MACRO(m_of, &kp O &kp F &kp SPC)
MACRO(s_m_of, &sk LSHIFT &kp O &kp F &kp SPC)
MACRO(m_OK, &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC)
MACRO(s_m_OK, &sk LSHIFT &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC)
MACRO(m_on, &kp O &kp N &kp SPC)
MACRO(s_m_on, &sk LSHIFT &kp O &kp N &kp SPC)
MACRO(m_or, &kp O &kp R &kp SPC)
MACRO(s_m_or, &sk LSHIFT &kp O &kp R &kp SPC)
MACRO(m_so, &kp S &kp O &kp SPC)
MACRO(s_m_so, &sk LSHIFT &kp S &kp O &kp SPC)
MACRO(m_to, &kp T &kp O &kp SPC)
MACRO(s_m_to, &sk LSHIFT &kp T &kp O &kp SPC)
MACRO(m_up, &kp U &kp P &kp SPC)
MACRO(s_m_up, &sk LSHIFT &kp U &kp P &kp SPC)
MACRO(m_us, &kp U &kp S &kp SPC)
MACRO(s_m_us, &sk LSHIFT &kp U &kp S &kp SPC)
MACRO(m_we, &kp W &kp E &kp SPC)
MACRO(s_m_we, &sk LSHIFT &kp W &kp E &kp SPC)
MACRO(m_all, &kp A &kp L &kp L &kp SPC)
MACRO(s_m_all, &sk LSHIFT &kp A &kp L &kp L &kp SPC)
MACRO(m_and, &kp A &kp N &kp D &kp SPC)
MACRO(s_m_and, &sk LSHIFT &kp A &kp N &kp D &kp SPC)
MACRO(m_any, &kp A &kp N &kp Y &kp SPC)
MACRO(s_m_any, &sk LSHIFT &kp A &kp N &kp Y &kp SPC)
MACRO(m_ask, &kp A &kp S &kp K &kp SPC)
MACRO(s_m_ask, &sk LSHIFT &kp A &kp S &kp K &kp SPC)
MACRO(m_but, &kp B &kp U &kp T &kp SPC)
MACRO(s_m_but, &sk LSHIFT &kp B &kp U &kp T &kp SPC)
MACRO(m_can, &kp C &kp A &kp N &kp SPC)
MACRO(s_m_can, &sk LSHIFT &kp C &kp A &kp N &kp SPC)
MACRO(m_day, &kp D &kp A &kp Y &kp SPC)
MACRO(s_m_day, &sk LSHIFT &kp D &kp A &kp Y &kp SPC)
MACRO(m_end, &kp E &kp N &kp D &kp SPC)
MACRO(s_m_end, &sk LSHIFT &kp E &kp N &kp D &kp SPC)
MACRO(m_eye, &kp E &kp Y &kp E &kp SPC)
MACRO(s_m_eye, &sk LSHIFT &kp E &kp Y &kp E &kp SPC)
MACRO(m_few, &kp F &kp E &kp W &kp SPC)
MACRO(s_m_few, &sk LSHIFT &kp F &kp E &kp W &kp SPC)
MACRO(m_for, &kp F &kp O &kp R &kp SPC)
MACRO(s_m_for, &sk LSHIFT &kp F &kp O &kp R &kp SPC)
MACRO(m_get, &kp G &kp E &kp T &kp SPC)
MACRO(s_m_get, &sk LSHIFT &kp G &kp E &kp T &kp SPC)
MACRO(m_how, &kp H &kp O &kp W &kp SPC)
MACRO(s_m_how, &sk LSHIFT &kp H &kp O &kp W &kp SPC)
MACRO(m_man, &kp M &kp A &kp N &kp SPC)
MACRO(s_m_man, &sk LSHIFT &kp M &kp A &kp N &kp SPC)
MACRO(m_may, &kp M &kp A &kp Y &kp SPC)
MACRO(s_m_may, &sk LSHIFT &kp M &kp A &kp Y &kp SPC)
MACRO(m_new, &kp N &kp E &kp W &kp SPC)
MACRO(s_m_new, &sk LSHIFT &kp N &kp E &kp W &kp SPC)
MACRO(m_not, &kp N &kp O &kp T &kp SPC)
MACRO(s_m_not, &sk LSHIFT &kp N &kp O &kp T &kp SPC)
MACRO(m_now, &kp N &kp O &kp W &kp SPC)
MACRO(s_m_now, &sk LSHIFT &kp N &kp O &kp W &kp SPC)
MACRO(m_off, &kp O &kp F &kp F &kp SPC)
MACRO(s_m_off, &sk LSHIFT &kp O &kp F &kp F &kp SPC)
MACRO(m_old, &kp O &kp L &kp D &kp SPC)
MACRO(s_m_old, &sk LSHIFT &kp O &kp L &kp D &kp SPC)
MACRO(m_one, &kp O &kp N &kp E &kp SPC)
MACRO(s_m_one, &sk LSHIFT &kp O &kp N &kp E &kp SPC)
MACRO(m_out, &kp O &kp U &kp T &kp SPC)
MACRO(s_m_out, &sk LSHIFT &kp O &kp U &kp T &kp SPC)
MACRO(m_own, &kp O &kp W &kp N &kp SPC)
MACRO(s_m_own, &sk LSHIFT &kp O &kp W &kp N &kp SPC)
MACRO(m_run, &kp R &kp U &kp N &kp SPC)
MACRO(s_m_run, &sk LSHIFT &kp R &kp U &kp N &kp SPC)
MACRO(m_say, &kp S &kp A &kp Y &kp SPC)
MACRO(s_m_say, &sk LSHIFT &kp S &kp A &kp Y &kp SPC)
MACRO(m_see, &kp S &kp E &kp E &kp SPC)
MACRO(s_m_see, &sk LSHIFT &kp S &kp E &kp E &kp SPC)
MACRO(m_set, &kp S &kp E &kp T &kp SPC)
MACRO(s_m_set, &sk LSHIFT &kp S &kp E &kp T &kp SPC)
MACRO(m_she, &kp S &kp H &kp E &kp SPC)
MACRO(s_m_she, &sk LSHIFT &kp S &kp H &kp E &kp SPC)
MACRO(m_the, &kp T &kp H &kp E &kp SPC)
MACRO(s_m_the, &sk LSHIFT &kp T &kp H &kp E &kp SPC)
MACRO(m_too, &kp T &kp O &kp O &kp SPC)
MACRO(s_m_too, &sk LSHIFT &kp T &kp O &kp O &kp SPC)
MACRO(m_use, &kp U &kp S &kp E &kp SPC)
MACRO(s_m_use, &sk LSHIFT &kp U &kp S &kp E &kp SPC)
MACRO(m_way, &kp W &kp A &kp Y &kp SPC)
MACRO(s_m_way, &sk LSHIFT &kp W &kp A &kp Y &kp SPC)
MACRO(m_who, &kp W &kp H &kp O &kp SPC)
MACRO(s_m_who, &sk LSHIFT &kp W &kp H &kp O &kp SPC)
MACRO(m_why, &kp W &kp H &kp Y &kp SPC)
MACRO(s_m_why, &sk LSHIFT &kp W &kp H &kp Y &kp SPC)
MACRO(m_you, &kp Y &kp O &kp U &kp SPC)
MACRO(s_m_you, &sk LSHIFT &kp Y &kp O &kp U &kp SPC)
