#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(m_BSPCDOTSPCLSHIFT, &kp BSPC &kp DOT &kp SPC &sk LSHIFT)
MACRO(s_m_BSPCDOTSPCLSHIFT, &sk LSHIFT &kp BSPC &kp DOT &kp SPC &sk LSHIFT)
MACRO(m_a, &kp A &kp SPC)
MACRO(s_m_a, &sk LSHIFT &kp A &kp SPC)
MACRO(m_I, &sk LSHIFT &kp I &kp SPC)
MACRO(s_m_I, &sk LSHIFT &sk LSHIFT &kp I &kp SPC)
MACRO(m_an, &kp A &kp N &kp SPC)
MACRO(s_m_an, &sk LSHIFT &kp A &kp N &kp SPC)
MACRO(m_as, &kp A &kp S &kp SPC)
MACRO(s_m_as, &sk LSHIFT &kp A &kp S &kp SPC)
MACRO(m_at, &kp A &kp T &kp SPC)
MACRO(s_m_at, &sk LSHIFT &kp A &kp T &kp SPC)
MACRO(m_be, &kp B &kp E &kp SPC)
MACRO(s_m_be, &sk LSHIFT &kp B &kp E &kp SPC)
MACRO(m_by, &kp B &kp Y &kp SPC)
MACRO(s_m_by, &sk LSHIFT &kp B &kp Y &kp SPC)
MACRO(m_do, &kp D &kp O &kp SPC)
MACRO(s_m_do, &sk LSHIFT &kp D &kp O &kp SPC)
MACRO(m_did, &kp D &kp I &kp D &kp SPC)
MACRO(s_m_did, &sk LSHIFT &kp D &kp I &kp D &kp SPC)
MACRO(m_go, &kp G &kp O &kp SPC)
MACRO(s_m_go, &sk LSHIFT &kp G &kp O &kp SPC)
MACRO(m_he, &kp H &kp E &kp SPC)
MACRO(s_m_he, &sk LSHIFT &kp H &kp E &kp SPC)
MACRO(m_hi, &kp H &kp I &kp SPC)
MACRO(s_m_hi, &sk LSHIFT &kp H &kp I &kp SPC)
MACRO(m_if, &kp I &kp F &kp SPC)
MACRO(s_m_if, &sk LSHIFT &kp I &kp F &kp SPC)
MACRO(m_in, &kp I &kp N &kp SPC)
MACRO(s_m_in, &sk LSHIFT &kp I &kp N &kp SPC)
MACRO(m_is, &kp I &kp S &kp SPC)
MACRO(s_m_is, &sk LSHIFT &kp I &kp S &kp SPC)
MACRO(m_it, &kp I &kp T &kp SPC)
MACRO(s_m_it, &sk LSHIFT &kp I &kp T &kp SPC)
MACRO(m_its, &kp I &kp T &kp S &kp SPC)
MACRO(s_m_its, &sk LSHIFT &kp I &kp T &kp S &kp SPC)
MACRO(m_me, &kp M &kp E &kp SPC)
MACRO(s_m_me, &sk LSHIFT &kp M &kp E &kp SPC)
MACRO(m_my, &kp M &kp Y &kp SPC)
MACRO(s_m_my, &sk LSHIFT &kp M &kp Y &kp SPC)
MACRO(m_no, &kp N &kp O &kp SPC)
MACRO(s_m_no, &sk LSHIFT &kp N &kp O &kp SPC)
MACRO(m_of, &kp O &kp F &kp SPC)
MACRO(s_m_of, &sk LSHIFT &kp O &kp F &kp SPC)
MACRO(m_OK, &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC)
MACRO(s_m_OK, &sk LSHIFT &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC)
MACRO(m_on, &kp O &kp N &kp SPC)
MACRO(s_m_on, &sk LSHIFT &kp O &kp N &kp SPC)
MACRO(m_or, &kp O &kp R &kp SPC)
MACRO(s_m_or, &sk LSHIFT &kp O &kp R &kp SPC)
MACRO(m_so, &kp S &kp O &kp SPC)
MACRO(s_m_so, &sk LSHIFT &kp S &kp O &kp SPC)
MACRO(m_to, &kp T &kp O &kp SPC)
MACRO(s_m_to, &sk LSHIFT &kp T &kp O &kp SPC)
MACRO(m_up, &kp U &kp P &kp SPC)
MACRO(s_m_up, &sk LSHIFT &kp U &kp P &kp SPC)
MACRO(m_us, &kp U &kp S &kp SPC)
MACRO(s_m_us, &sk LSHIFT &kp U &kp S &kp SPC)
MACRO(m_we, &kp W &kp E &kp SPC)
MACRO(s_m_we, &sk LSHIFT &kp W &kp E &kp SPC)
MACRO(m_add, &kp A &kp D &kp D &kp SPC)
MACRO(s_m_add, &sk LSHIFT &kp A &kp D &kp D &kp SPC)
MACRO(m_added, &kp A &kp D &kp D &kp E &kp D &kp SPC)
MACRO(s_m_added, &sk LSHIFT &kp A &kp D &kp D &kp E &kp D &kp SPC)
MACRO(m_air, &kp A &kp I &kp R &kp SPC)
MACRO(s_m_air, &sk LSHIFT &kp A &kp I &kp R &kp SPC)
MACRO(m_all, &kp A &kp L &kp L &kp SPC)
MACRO(s_m_all, &sk LSHIFT &kp A &kp L &kp L &kp SPC)
MACRO(m_and, &kp A &kp N &kp D &kp SPC)
MACRO(s_m_and, &sk LSHIFT &kp A &kp N &kp D &kp SPC)
MACRO(m_any, &kp A &kp N &kp Y &kp SPC)
MACRO(s_m_any, &sk LSHIFT &kp A &kp N &kp Y &kp SPC)
MACRO(m_are, &kp A &kp R &kp E &kp SPC)
MACRO(s_m_are, &sk LSHIFT &kp A &kp R &kp E &kp SPC)
MACRO(m_ask, &kp A &kp S &kp K &kp SPC)
MACRO(s_m_ask, &sk LSHIFT &kp A &kp S &kp K &kp SPC)
MACRO(m_big, &kp B &kp I &kp G &kp SPC)
MACRO(s_m_big, &sk LSHIFT &kp B &kp I &kp G &kp SPC)
MACRO(m_boy, &kp B &kp O &kp Y &kp SPC)
MACRO(s_m_boy, &sk LSHIFT &kp B &kp O &kp Y &kp SPC)
MACRO(m_but, &kp B &kp U &kp T &kp SPC)
MACRO(s_m_but, &sk LSHIFT &kp B &kp U &kp T &kp SPC)
MACRO(m_can, &kp C &kp A &kp N &kp SPC)
MACRO(s_m_can, &sk LSHIFT &kp C &kp A &kp N &kp SPC)
MACRO(m_could, &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_m_could, &sk LSHIFT &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(m_car, &kp C &kp A &kp R &kp SPC)
MACRO(s_m_car, &sk LSHIFT &kp C &kp A &kp R &kp SPC)
MACRO(m_cut, &kp C &kp U &kp T &kp SPC)
MACRO(s_m_cut, &sk LSHIFT &kp C &kp U &kp T &kp SPC)
MACRO(m_day, &kp D &kp A &kp Y &kp SPC)
MACRO(s_m_day, &sk LSHIFT &kp D &kp A &kp Y &kp SPC)
MACRO(m_eat, &kp E &kp A &kp T &kp SPC)
MACRO(s_m_eat, &sk LSHIFT &kp E &kp A &kp T &kp SPC)
MACRO(m_ate, &kp A &kp T &kp E &kp SPC)
MACRO(s_m_ate, &sk LSHIFT &kp A &kp T &kp E &kp SPC)
MACRO(m_end, &kp E &kp N &kp D &kp SPC)
MACRO(s_m_end, &sk LSHIFT &kp E &kp N &kp D &kp SPC)
MACRO(m_eye, &kp E &kp Y &kp E &kp SPC)
MACRO(s_m_eye, &sk LSHIFT &kp E &kp Y &kp E &kp SPC)
MACRO(m_eyed, &kp E &kp Y &kp E &kp D &kp SPC)
MACRO(s_m_eyed, &sk LSHIFT &kp E &kp Y &kp E &kp D &kp SPC)
MACRO(m_far, &kp F &kp A &kp R &kp SPC)
MACRO(s_m_far, &sk LSHIFT &kp F &kp A &kp R &kp SPC)
MACRO(m_few, &kp F &kp E &kp W &kp SPC)
MACRO(s_m_few, &sk LSHIFT &kp F &kp E &kp W &kp SPC)
MACRO(m_for, &kp F &kp O &kp R &kp SPC)
MACRO(s_m_for, &sk LSHIFT &kp F &kp O &kp R &kp SPC)
MACRO(m_get, &kp G &kp E &kp T &kp SPC)
MACRO(s_m_get, &sk LSHIFT &kp G &kp E &kp T &kp SPC)
MACRO(m_got, &kp G &kp O &kp T &kp SPC)
MACRO(s_m_got, &sk LSHIFT &kp G &kp O &kp T &kp SPC)
MACRO(m_has, &kp H &kp A &kp S &kp SPC)
MACRO(s_m_has, &sk LSHIFT &kp H &kp A &kp S &kp SPC)
MACRO(m_had, &kp H &kp A &kp D &kp SPC)
MACRO(s_m_had, &sk LSHIFT &kp H &kp A &kp D &kp SPC)
MACRO(m_her, &kp H &kp E &kp R &kp SPC)
MACRO(s_m_her, &sk LSHIFT &kp H &kp E &kp R &kp SPC)
MACRO(m_hers, &kp H &kp E &kp R &kp S &kp SPC)
MACRO(s_m_hers, &sk LSHIFT &kp H &kp E &kp R &kp S &kp SPC)
MACRO(m_hey, &kp H &kp E &kp Y &kp SPC)
MACRO(s_m_hey, &sk LSHIFT &kp H &kp E &kp Y &kp SPC)
MACRO(m_him, &kp H &kp I &kp M &kp SPC)
MACRO(s_m_him, &sk LSHIFT &kp H &kp I &kp M &kp SPC)
MACRO(m_his, &kp H &kp I &kp S &kp SPC)
MACRO(s_m_his, &sk LSHIFT &kp H &kp I &kp S &kp SPC)
MACRO(m_how, &kp H &kp O &kp W &kp SPC)
MACRO(s_m_how, &sk LSHIFT &kp H &kp O &kp W &kp SPC)
MACRO(m_let, &kp L &kp E &kp T &kp SPC)
MACRO(s_m_let, &sk LSHIFT &kp L &kp E &kp T &kp SPC)
MACRO(m_man, &kp M &kp A &kp N &kp SPC)
MACRO(s_m_man, &sk LSHIFT &kp M &kp A &kp N &kp SPC)
MACRO(m_men, &kp M &kp E &kp N &kp SPC)
MACRO(s_m_men, &sk LSHIFT &kp M &kp E &kp N &kp SPC)
MACRO(m_may, &kp M &kp A &kp Y &kp SPC)
MACRO(s_m_may, &sk LSHIFT &kp M &kp A &kp Y &kp SPC)
MACRO(m_new, &kp N &kp E &kp W &kp SPC)
MACRO(s_m_new, &sk LSHIFT &kp N &kp E &kp W &kp SPC)
MACRO(m_not, &kp N &kp O &kp T &kp SPC)
MACRO(s_m_not, &sk LSHIFT &kp N &kp O &kp T &kp SPC)
MACRO(m_now, &kp N &kp O &kp W &kp SPC)
MACRO(s_m_now, &sk LSHIFT &kp N &kp O &kp W &kp SPC)
MACRO(m_off, &kp O &kp F &kp F &kp SPC)
MACRO(s_m_off, &sk LSHIFT &kp O &kp F &kp F &kp SPC)
MACRO(m_oil, &kp O &kp I &kp L &kp SPC)
MACRO(s_m_oil, &sk LSHIFT &kp O &kp I &kp L &kp SPC)
MACRO(m_old, &kp O &kp L &kp D &kp SPC)
MACRO(s_m_old, &sk LSHIFT &kp O &kp L &kp D &kp SPC)
MACRO(m_one, &kp O &kp N &kp E &kp SPC)
MACRO(s_m_one, &sk LSHIFT &kp O &kp N &kp E &kp SPC)
MACRO(m_our, &kp O &kp U &kp R &kp SPC)
MACRO(s_m_our, &sk LSHIFT &kp O &kp U &kp R &kp SPC)
MACRO(m_ours, &kp O &kp U &kp R &kp S &kp SPC)
MACRO(s_m_ours, &sk LSHIFT &kp O &kp U &kp R &kp S &kp SPC)
MACRO(m_out, &kp O &kp U &kp T &kp SPC)
MACRO(s_m_out, &sk LSHIFT &kp O &kp U &kp T &kp SPC)
MACRO(m_own, &kp O &kp W &kp N &kp SPC)
MACRO(s_m_own, &sk LSHIFT &kp O &kp W &kp N &kp SPC)
MACRO(m_owned, &kp O &kp W &kp N &kp E &kp D &kp SPC)
MACRO(s_m_owned, &sk LSHIFT &kp O &kp W &kp N &kp E &kp D &kp SPC)
MACRO(m_put, &kp P &kp U &kp T &kp SPC)
MACRO(s_m_put, &sk LSHIFT &kp P &kp U &kp T &kp SPC)
MACRO(m_run, &kp R &kp U &kp N &kp SPC)
MACRO(s_m_run, &sk LSHIFT &kp R &kp U &kp N &kp SPC)
MACRO(m_ran, &kp R &kp A &kp N &kp SPC)
MACRO(s_m_ran, &sk LSHIFT &kp R &kp A &kp N &kp SPC)
MACRO(m_say, &kp S &kp A &kp Y &kp SPC)
MACRO(s_m_say, &sk LSHIFT &kp S &kp A &kp Y &kp SPC)
MACRO(m_sea, &kp S &kp E &kp A &kp SPC)
MACRO(s_m_sea, &sk LSHIFT &kp S &kp E &kp A &kp SPC)
MACRO(m_see, &kp S &kp E &kp E &kp SPC)
MACRO(s_m_see, &sk LSHIFT &kp S &kp E &kp E &kp SPC)
MACRO(m_saw, &kp S &kp A &kp W &kp SPC)
MACRO(s_m_saw, &sk LSHIFT &kp S &kp A &kp W &kp SPC)
MACRO(m_set, &kp S &kp E &kp T &kp SPC)
MACRO(s_m_set, &sk LSHIFT &kp S &kp E &kp T &kp SPC)
MACRO(m_she, &kp S &kp H &kp E &kp SPC)
MACRO(s_m_she, &sk LSHIFT &kp S &kp H &kp E &kp SPC)
MACRO(m_the, &kp T &kp H &kp E &kp SPC)
MACRO(s_m_the, &sk LSHIFT &kp T &kp H &kp E &kp SPC)
MACRO(m_too, &kp T &kp O &kp O &kp SPC)
MACRO(s_m_too, &sk LSHIFT &kp T &kp O &kp O &kp SPC)
MACRO(m_try, &kp T &kp R &kp Y &kp SPC)
MACRO(s_m_try, &sk LSHIFT &kp T &kp R &kp Y &kp SPC)
MACRO(m_tried, &kp T &kp R &kp I &kp E &kp D &kp SPC)
MACRO(s_m_tried, &sk LSHIFT &kp T &kp R &kp I &kp E &kp D &kp SPC)
MACRO(m_two, &kp T &kp W &kp O &kp SPC)
MACRO(s_m_two, &sk LSHIFT &kp T &kp W &kp O &kp SPC)
MACRO(m_use, &kp U &kp S &kp E &kp SPC)
MACRO(s_m_use, &sk LSHIFT &kp U &kp S &kp E &kp SPC)
MACRO(m_was, &kp W &kp A &kp S &kp SPC)
MACRO(s_m_was, &sk LSHIFT &kp W &kp A &kp S &kp SPC)
MACRO(m_way, &kp W &kp A &kp Y &kp SPC)
MACRO(s_m_way, &sk LSHIFT &kp W &kp A &kp Y &kp SPC)
MACRO(m_who, &kp W &kp H &kp O &kp SPC)
MACRO(s_m_who, &sk LSHIFT &kp W &kp H &kp O &kp SPC)
MACRO(m_why, &kp W &kp H &kp Y &kp SPC)
MACRO(s_m_why, &sk LSHIFT &kp W &kp H &kp Y &kp SPC)
MACRO(m_you, &kp Y &kp O &kp U &kp SPC)
MACRO(s_m_you, &sk LSHIFT &kp Y &kp O &kp U &kp SPC)
MACRO(m_your, &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(s_m_your, &sk LSHIFT &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(m_also, &kp A &kp L &kp S &kp O &kp SPC)
MACRO(s_m_also, &sk LSHIFT &kp A &kp L &kp S &kp O &kp SPC)
MACRO(m_away, &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(s_m_away, &sk LSHIFT &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(m_back, &kp B &kp A &kp C &kp K &kp SPC)
MACRO(s_m_back, &sk LSHIFT &kp B &kp A &kp C &kp K &kp SPC)
MACRO(m_been, &kp B &kp E &kp E &kp N &kp SPC)
MACRO(s_m_been, &sk LSHIFT &kp B &kp E &kp E &kp N &kp SPC)
MACRO(m_book, &kp B &kp O &kp O &kp K &kp SPC)
MACRO(s_m_book, &sk LSHIFT &kp B &kp O &kp O &kp K &kp SPC)
MACRO(m_booked, &kp B &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(s_m_booked, &sk LSHIFT &kp B &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(m_both, &kp B &kp O &kp T &kp H &kp SPC)
MACRO(s_m_both, &sk LSHIFT &kp B &kp O &kp T &kp H &kp SPC)
MACRO(m_call, &kp C &kp A &kp L &kp L &kp SPC)
MACRO(s_m_call, &sk LSHIFT &kp C &kp A &kp L &kp L &kp SPC)
MACRO(m_city, &kp C &kp I &kp T &kp Y &kp SPC)
MACRO(s_m_city, &sk LSHIFT &kp C &kp I &kp T &kp Y &kp SPC)
MACRO(m_come, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(s_m_come, &sk LSHIFT &kp C &kp O &kp M &kp E &kp SPC)
MACRO(m_came, &kp C &kp A &kp M &kp E &kp SPC)
MACRO(s_m_came, &sk LSHIFT &kp C &kp A &kp M &kp E &kp SPC)
MACRO(m_does, &kp D &kp O &kp E &kp S &kp SPC)
MACRO(s_m_does, &sk LSHIFT &kp D &kp O &kp E &kp S &kp SPC)
MACRO(m_down, &kp D &kp O &kp W &kp N &kp SPC)
MACRO(s_m_down, &sk LSHIFT &kp D &kp O &kp W &kp N &kp SPC)
MACRO(m_each, &kp E &kp A &kp C &kp H &kp SPC)
MACRO(s_m_each, &sk LSHIFT &kp E &kp A &kp C &kp H &kp SPC)
MACRO(m_even, &kp E &kp V &kp E &kp N &kp SPC)
MACRO(s_m_even, &sk LSHIFT &kp E &kp V &kp E &kp N &kp SPC)
MACRO(m_face, &kp F &kp A &kp C &kp E &kp SPC)
MACRO(s_m_face, &sk LSHIFT &kp F &kp A &kp C &kp E &kp SPC)
MACRO(m_faced, &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(s_m_faced, &sk LSHIFT &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(m_fact, &kp F &kp A &kp C &kp T &kp SPC)
MACRO(s_m_fact, &sk LSHIFT &kp F &kp A &kp C &kp T &kp SPC)
MACRO(m_feel, &kp F &kp E &kp E &kp L &kp SPC)
MACRO(s_m_feel, &sk LSHIFT &kp F &kp E &kp E &kp L &kp SPC)
MACRO(m_feet, &kp F &kp E &kp E &kp T &kp SPC)
MACRO(s_m_feet, &sk LSHIFT &kp F &kp E &kp E &kp T &kp SPC)
MACRO(m_find, &kp F &kp I &kp N &kp D &kp SPC)
MACRO(s_m_find, &sk LSHIFT &kp F &kp I &kp N &kp D &kp SPC)
MACRO(m_food, &kp F &kp O &kp O &kp D &kp SPC)
MACRO(s_m_food, &sk LSHIFT &kp F &kp O &kp O &kp D &kp SPC)
MACRO(m_form, &kp F &kp O &kp R &kp M &kp SPC)
MACRO(s_m_form, &sk LSHIFT &kp F &kp O &kp R &kp M &kp SPC)
MACRO(m_four, &kp F &kp O &kp U &kp R &kp SPC)
MACRO(s_m_four, &sk LSHIFT &kp F &kp O &kp U &kp R &kp SPC)
MACRO(m_from, &kp F &kp R &kp O &kp M &kp SPC)
MACRO(s_m_from, &sk LSHIFT &kp F &kp R &kp O &kp M &kp SPC)
MACRO(m_girl, &kp G &kp I &kp R &kp L &kp SPC)
MACRO(s_m_girl, &sk LSHIFT &kp G &kp I &kp R &kp L &kp SPC)
MACRO(m_give, &kp G &kp I &kp V &kp E &kp SPC)
MACRO(s_m_give, &sk LSHIFT &kp G &kp I &kp V &kp E &kp SPC)
MACRO(m_gave, &kp G &kp A &kp V &kp E &kp SPC)
MACRO(s_m_gave, &sk LSHIFT &kp G &kp A &kp V &kp E &kp SPC)
MACRO(m_good, &kp G &kp O &kp O &kp D &kp SPC)
MACRO(s_m_good, &sk LSHIFT &kp G &kp O &kp O &kp D &kp SPC)
MACRO(m_grow, &kp G &kp R &kp O &kp W &kp SPC)
MACRO(s_m_grow, &sk LSHIFT &kp G &kp R &kp O &kp W &kp SPC)
MACRO(m_grew, &kp G &kp R &kp E &kp W &kp SPC)
MACRO(s_m_grew, &sk LSHIFT &kp G &kp R &kp E &kp W &kp SPC)
MACRO(m_hand, &kp H &kp A &kp N &kp D &kp SPC)
MACRO(s_m_hand, &sk LSHIFT &kp H &kp A &kp N &kp D &kp SPC)
MACRO(m_handed, &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(s_m_handed, &sk LSHIFT &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(m_hard, &kp H &kp A &kp R &kp D &kp SPC)
MACRO(s_m_hard, &sk LSHIFT &kp H &kp A &kp R &kp D &kp SPC)
MACRO(m_have, &kp H &kp A &kp V &kp E &kp SPC)
MACRO(s_m_have, &sk LSHIFT &kp H &kp A &kp V &kp E &kp SPC)
MACRO(m_head, &kp H &kp E &kp A &kp D &kp SPC)
MACRO(s_m_head, &sk LSHIFT &kp H &kp E &kp A &kp D &kp SPC)
MACRO(m_headed, &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(s_m_headed, &sk LSHIFT &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(m_hear, &kp H &kp E &kp A &kp R &kp SPC)
MACRO(s_m_hear, &sk LSHIFT &kp H &kp E &kp A &kp R &kp SPC)
MACRO(m_heard, &kp H &kp E &kp A &kp R &kp D &kp SPC)
MACRO(s_m_heard, &sk LSHIFT &kp H &kp E &kp A &kp R &kp D &kp SPC)
MACRO(m_help, &kp H &kp E &kp L &kp P &kp SPC)
MACRO(s_m_help, &sk LSHIFT &kp H &kp E &kp L &kp P &kp SPC)
MACRO(m_helped, &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC)
MACRO(s_m_helped, &sk LSHIFT &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC)
MACRO(m_here, &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_m_here, &sk LSHIFT &kp H &kp E &kp R &kp E &kp SPC)
MACRO(m_high, &kp H &kp I &kp G &kp H &kp SPC)
MACRO(s_m_high, &sk LSHIFT &kp H &kp I &kp G &kp H &kp SPC)
MACRO(m_hold, &kp H &kp O &kp L &kp D &kp SPC)
MACRO(s_m_hold, &sk LSHIFT &kp H &kp O &kp L &kp D &kp SPC)
MACRO(m_home, &kp H &kp O &kp M &kp E &kp SPC)
MACRO(s_m_home, &sk LSHIFT &kp H &kp O &kp M &kp E &kp SPC)
MACRO(m_idea, &kp I &kp D &kp E &kp A &kp SPC)
MACRO(s_m_idea, &sk LSHIFT &kp I &kp D &kp E &kp A &kp SPC)
MACRO(m_into, &kp I &kp N &kp T &kp O &kp SPC)
MACRO(s_m_into, &sk LSHIFT &kp I &kp N &kp T &kp O &kp SPC)
MACRO(m_just, &kp J &kp U &kp S &kp T &kp SPC)
MACRO(s_m_just, &sk LSHIFT &kp J &kp U &kp S &kp T &kp SPC)
MACRO(m_keep, &kp K &kp E &kp E &kp P &kp SPC)
MACRO(s_m_keep, &sk LSHIFT &kp K &kp E &kp E &kp P &kp SPC)
MACRO(m_kept, &kp K &kp E &kp P &kp T &kp SPC)
MACRO(s_m_kept, &sk LSHIFT &kp K &kp E &kp P &kp T &kp SPC)
MACRO(m_kind, &kp K &kp I &kp N &kp D &kp SPC)
MACRO(s_m_kind, &sk LSHIFT &kp K &kp I &kp N &kp D &kp SPC)
MACRO(m_know, &kp K &kp N &kp O &kp W &kp SPC)
MACRO(s_m_know, &sk LSHIFT &kp K &kp N &kp O &kp W &kp SPC)
MACRO(m_knew, &kp K &kp N &kp E &kp W &kp SPC)
MACRO(s_m_knew, &sk LSHIFT &kp K &kp N &kp E &kp W &kp SPC)
MACRO(m_land, &kp L &kp A &kp N &kp D &kp SPC)
MACRO(s_m_land, &sk LSHIFT &kp L &kp A &kp N &kp D &kp SPC)
MACRO(m_landed, &kp L &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(s_m_landed, &sk LSHIFT &kp L &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(m_last, &kp L &kp A &kp S &kp T &kp SPC)
MACRO(s_m_last, &sk LSHIFT &kp L &kp A &kp S &kp T &kp SPC)
MACRO(m_late, &kp L &kp A &kp T &kp E &kp SPC)
MACRO(s_m_late, &sk LSHIFT &kp L &kp A &kp T &kp E &kp SPC)
MACRO(m_later, &kp L &kp A &kp T &kp E &kp R &kp SPC)
MACRO(s_m_later, &sk LSHIFT &kp L &kp A &kp T &kp E &kp R &kp SPC)
MACRO(m_lead, &kp L &kp E &kp A &kp D &kp SPC)
MACRO(s_m_lead, &sk LSHIFT &kp L &kp E &kp A &kp D &kp SPC)
MACRO(m_led, &kp L &kp E &kp D &kp SPC)
MACRO(s_m_led, &sk LSHIFT &kp L &kp E &kp D &kp SPC)
MACRO(m_left, &kp L &kp E &kp F &kp T &kp SPC)
MACRO(s_m_left, &sk LSHIFT &kp L &kp E &kp F &kp T &kp SPC)
MACRO(m_life, &kp L &kp I &kp F &kp E &kp SPC)
MACRO(s_m_life, &sk LSHIFT &kp L &kp I &kp F &kp E &kp SPC)
MACRO(m_like, &kp L &kp I &kp K &kp E &kp SPC)
MACRO(s_m_like, &sk LSHIFT &kp L &kp I &kp K &kp E &kp SPC)
MACRO(m_liked, &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(s_m_liked, &sk LSHIFT &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(m_line, &kp L &kp I &kp N &kp E &kp SPC)
MACRO(s_m_line, &sk LSHIFT &kp L &kp I &kp N &kp E &kp SPC)
MACRO(m_list, &kp L &kp I &kp S &kp T &kp SPC)
MACRO(s_m_list, &sk LSHIFT &kp L &kp I &kp S &kp T &kp SPC)
MACRO(m_listed, &kp L &kp I &kp S &kp T &kp E &kp D &kp SPC)
MACRO(s_m_listed, &sk LSHIFT &kp L &kp I &kp S &kp T &kp E &kp D &kp SPC)
MACRO(m_live, &kp L &kp I &kp V &kp E &kp SPC)
MACRO(s_m_live, &sk LSHIFT &kp L &kp I &kp V &kp E &kp SPC)
MACRO(m_lived, &kp L &kp I &kp V &kp E &kp D &kp SPC)
MACRO(s_m_lived, &sk LSHIFT &kp L &kp I &kp V &kp E &kp D &kp SPC)
MACRO(m_long, &kp L &kp O &kp N &kp G &kp SPC)
MACRO(s_m_long, &sk LSHIFT &kp L &kp O &kp N &kp G &kp SPC)
MACRO(m_look, &kp L &kp O &kp O &kp K &kp SPC)
MACRO(s_m_look, &sk LSHIFT &kp L &kp O &kp O &kp K &kp SPC)
MACRO(m_looked, &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(s_m_looked, &sk LSHIFT &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(m_make, &kp M &kp A &kp K &kp E &kp SPC)
MACRO(s_m_make, &sk LSHIFT &kp M &kp A &kp K &kp E &kp SPC)
MACRO(m_made, &kp M &kp A &kp D &kp E &kp SPC)
MACRO(s_m_made, &sk LSHIFT &kp M &kp A &kp D &kp E &kp SPC)
MACRO(m_many, &kp M &kp A &kp N &kp Y &kp SPC)
MACRO(s_m_many, &sk LSHIFT &kp M &kp A &kp N &kp Y &kp SPC)
MACRO(m_mean, &kp M &kp E &kp A &kp N &kp SPC)
MACRO(s_m_mean, &sk LSHIFT &kp M &kp E &kp A &kp N &kp SPC)
MACRO(m_miss, &kp M &kp I &kp S &kp S &kp SPC)
MACRO(s_m_miss, &sk LSHIFT &kp M &kp I &kp S &kp S &kp SPC)
MACRO(m_missed, &kp M &kp I &kp S &kp S &kp E &kp D &kp SPC)
MACRO(s_m_missed, &sk LSHIFT &kp M &kp I &kp S &kp S &kp E &kp D &kp SPC)
MACRO(m_more, &kp M &kp O &kp R &kp E &kp SPC)
MACRO(s_m_more, &sk LSHIFT &kp M &kp O &kp R &kp E &kp SPC)
MACRO(m_most, &kp M &kp O &kp S &kp T &kp SPC)
MACRO(s_m_most, &sk LSHIFT &kp M &kp O &kp S &kp T &kp SPC)
MACRO(m_move, &kp M &kp O &kp V &kp E &kp SPC)
MACRO(s_m_move, &sk LSHIFT &kp M &kp O &kp V &kp E &kp SPC)
MACRO(m_moved, &kp M &kp O &kp V &kp E &kp D &kp SPC)
MACRO(s_m_moved, &sk LSHIFT &kp M &kp O &kp V &kp E &kp D &kp SPC)
MACRO(m_much, &kp M &kp U &kp C &kp H &kp SPC)
MACRO(s_m_much, &sk LSHIFT &kp M &kp U &kp C &kp H &kp SPC)
MACRO(m_must, &kp M &kp U &kp S &kp T &kp SPC)
MACRO(s_m_must, &sk LSHIFT &kp M &kp U &kp S &kp T &kp SPC)
MACRO(m_name, &kp N &kp A &kp M &kp E &kp SPC)
MACRO(s_m_name, &sk LSHIFT &kp N &kp A &kp M &kp E &kp SPC)
MACRO(m_near, &kp N &kp E &kp A &kp R &kp SPC)
MACRO(s_m_near, &sk LSHIFT &kp N &kp E &kp A &kp R &kp SPC)
MACRO(m_neared, &kp N &kp E &kp A &kp R &kp E &kp D &kp SPC)
MACRO(s_m_neared, &sk LSHIFT &kp N &kp E &kp A &kp R &kp E &kp D &kp SPC)
MACRO(m_need, &kp N &kp E &kp E &kp D &kp SPC)
MACRO(s_m_need, &sk LSHIFT &kp N &kp E &kp E &kp D &kp SPC)
MACRO(m_needed, &kp N &kp E &kp E &kp D &kp E &kp D &kp SPC)
MACRO(s_m_needed, &sk LSHIFT &kp N &kp E &kp E &kp D &kp E &kp D &kp SPC)
MACRO(m_next, &kp N &kp E &kp X &kp T &kp SPC)
MACRO(s_m_next, &sk LSHIFT &kp N &kp E &kp X &kp T &kp SPC)
MACRO(m_once, &kp O &kp N &kp C &kp E &kp SPC)
MACRO(s_m_once, &sk LSHIFT &kp O &kp N &kp C &kp E &kp SPC)
MACRO(m_only, &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(s_m_only, &sk LSHIFT &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(m_open, &kp O &kp P &kp E &kp N &kp SPC)
MACRO(s_m_open, &sk LSHIFT &kp O &kp P &kp E &kp N &kp SPC)
MACRO(m_opened, &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(s_m_opened, &sk LSHIFT &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(m_over, &kp O &kp V &kp E &kp R &kp SPC)
MACRO(s_m_over, &sk LSHIFT &kp O &kp V &kp E &kp R &kp SPC)
MACRO(m_page, &kp P &kp A &kp G &kp E &kp SPC)
MACRO(s_m_page, &sk LSHIFT &kp P &kp A &kp G &kp E &kp SPC)
MACRO(m_part, &kp P &kp A &kp R &kp T &kp SPC)
MACRO(s_m_part, &sk LSHIFT &kp P &kp A &kp R &kp T &kp SPC)
MACRO(m_plan, &kp P &kp L &kp A &kp N &kp SPC)
MACRO(s_m_plan, &sk LSHIFT &kp P &kp L &kp A &kp N &kp SPC)
MACRO(m_play, &kp P &kp L &kp A &kp Y &kp SPC)
MACRO(s_m_play, &sk LSHIFT &kp P &kp L &kp A &kp Y &kp SPC)
MACRO(m_played, &kp P &kp L &kp A &kp Y &kp E &kp D &kp SPC)
MACRO(s_m_played, &sk LSHIFT &kp P &kp L &kp A &kp Y &kp E &kp D &kp SPC)
MACRO(m_read, &kp R &kp E &kp A &kp D &kp SPC)
MACRO(s_m_read, &sk LSHIFT &kp R &kp E &kp A &kp D &kp SPC)
MACRO(m_real, &kp R &kp E &kp A &kp L &kp SPC)
MACRO(s_m_real, &sk LSHIFT &kp R &kp E &kp A &kp L &kp SPC)
MACRO(m_said, &kp S &kp A &kp I &kp D &kp SPC)
MACRO(s_m_said, &sk LSHIFT &kp S &kp A &kp I &kp D &kp SPC)
MACRO(m_same, &kp S &kp A &kp M &kp E &kp SPC)
MACRO(s_m_same, &sk LSHIFT &kp S &kp A &kp M &kp E &kp SPC)
MACRO(m_seem, &kp S &kp E &kp E &kp M &kp SPC)
MACRO(s_m_seem, &sk LSHIFT &kp S &kp E &kp E &kp M &kp SPC)
MACRO(m_seemed, &kp S &kp E &kp E &kp M &kp E &kp D &kp SPC)
MACRO(s_m_seemed, &sk LSHIFT &kp S &kp E &kp E &kp M &kp E &kp D &kp SPC)
MACRO(m_show, &kp S &kp H &kp O &kp W &kp SPC)
MACRO(s_m_show, &sk LSHIFT &kp S &kp H &kp O &kp W &kp SPC)
MACRO(m_showed, &kp S &kp H &kp O &kp W &kp E &kp D &kp SPC)
MACRO(s_m_showed, &sk LSHIFT &kp S &kp H &kp O &kp W &kp E &kp D &kp SPC)
MACRO(m_side, &kp S &kp I &kp D &kp E &kp SPC)
MACRO(s_m_side, &sk LSHIFT &kp S &kp I &kp D &kp E &kp SPC)
MACRO(m_some, &kp S &kp O &kp M &kp E &kp SPC)
MACRO(s_m_some, &sk LSHIFT &kp S &kp O &kp M &kp E &kp SPC)
MACRO(m_song, &kp S &kp O &kp N &kp G &kp SPC)
MACRO(s_m_song, &sk LSHIFT &kp S &kp O &kp N &kp G &kp SPC)
MACRO(m_soon, &kp S &kp O &kp O &kp N &kp SPC)
MACRO(s_m_soon, &sk LSHIFT &kp S &kp O &kp O &kp N &kp SPC)
MACRO(m_stop, &kp S &kp T &kp O &kp P &kp SPC)
MACRO(s_m_stop, &sk LSHIFT &kp S &kp T &kp O &kp P &kp SPC)
MACRO(m_stopped, &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(s_m_stopped, &sk LSHIFT &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(m_such, &kp S &kp U &kp C &kp H &kp SPC)
MACRO(s_m_such, &sk LSHIFT &kp S &kp U &kp C &kp H &kp SPC)
MACRO(m_take, &kp T &kp A &kp K &kp E &kp SPC)
MACRO(s_m_take, &sk LSHIFT &kp T &kp A &kp K &kp E &kp SPC)
MACRO(m_took, &kp T &kp O &kp O &kp K &kp SPC)
MACRO(s_m_took, &sk LSHIFT &kp T &kp O &kp O &kp K &kp SPC)
MACRO(m_talk, &kp T &kp A &kp L &kp K &kp SPC)
MACRO(s_m_talk, &sk LSHIFT &kp T &kp A &kp L &kp K &kp SPC)
MACRO(m_tell, &kp T &kp E &kp L &kp L &kp SPC)
MACRO(s_m_tell, &sk LSHIFT &kp T &kp E &kp L &kp L &kp SPC)
MACRO(m_told, &kp T &kp O &kp L &kp D &kp SPC)
MACRO(s_m_told, &sk LSHIFT &kp T &kp O &kp L &kp D &kp SPC)
MACRO(m_than, &kp T &kp H &kp A &kp N &kp SPC)
MACRO(s_m_than, &sk LSHIFT &kp T &kp H &kp A &kp N &kp SPC)
MACRO(m_that, &kp T &kp H &kp A &kp T &kp SPC)
MACRO(s_m_that, &sk LSHIFT &kp T &kp H &kp A &kp T &kp SPC)
MACRO(m_them, &kp T &kp H &kp E &kp M &kp SPC)
MACRO(s_m_them, &sk LSHIFT &kp T &kp H &kp E &kp M &kp SPC)
MACRO(m_then, &kp T &kp H &kp E &kp N &kp SPC)
MACRO(s_m_then, &sk LSHIFT &kp T &kp H &kp E &kp N &kp SPC)
MACRO(m_they, &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(s_m_they, &sk LSHIFT &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(m_this, &kp T &kp H &kp I &kp S &kp SPC)
MACRO(s_m_this, &sk LSHIFT &kp T &kp H &kp I &kp S &kp SPC)
MACRO(m_time, &kp T &kp I &kp M &kp E &kp SPC)
MACRO(s_m_time, &sk LSHIFT &kp T &kp I &kp M &kp E &kp SPC)
MACRO(m_timed, &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(s_m_timed, &sk LSHIFT &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(m_tree, &kp T &kp R &kp E &kp E &kp SPC)
MACRO(s_m_tree, &sk LSHIFT &kp T &kp R &kp E &kp E &kp SPC)
MACRO(m_turn, &kp T &kp U &kp R &kp N &kp SPC)
MACRO(s_m_turn, &sk LSHIFT &kp T &kp U &kp R &kp N &kp SPC)
MACRO(m_very, &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(s_m_very, &sk LSHIFT &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(m_walk, &kp W &kp A &kp L &kp K &kp SPC)
MACRO(s_m_walk, &sk LSHIFT &kp W &kp A &kp L &kp K &kp SPC)
MACRO(m_walked, &kp W &kp A &kp L &kp K &kp E &kp D &kp SPC)
MACRO(s_m_walked, &sk LSHIFT &kp W &kp A &kp L &kp K &kp E &kp D &kp SPC)
MACRO(m_want, &kp W &kp A &kp N &kp T &kp SPC)
MACRO(s_m_want, &sk LSHIFT &kp W &kp A &kp N &kp T &kp SPC)
MACRO(m_wanted, &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(s_m_wanted, &sk LSHIFT &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_week, &kp W &kp E &kp E &kp K &kp SPC)
MACRO(s_m_week, &sk LSHIFT &kp W &kp E &kp E &kp K &kp SPC)
MACRO(m_well, &kp W &kp E &kp L &kp L &kp SPC)
MACRO(s_m_well, &sk LSHIFT &kp W &kp E &kp L &kp L &kp SPC)
MACRO(m_went, &kp W &kp E &kp N &kp T &kp SPC)
MACRO(s_m_went, &sk LSHIFT &kp W &kp E &kp N &kp T &kp SPC)
MACRO(m_were, &kp W &kp E &kp R &kp E &kp SPC)
MACRO(s_m_were, &sk LSHIFT &kp W &kp E &kp R &kp E &kp SPC)
MACRO(m_what, &kp W &kp H &kp A &kp T &kp SPC)
MACRO(s_m_what, &sk LSHIFT &kp W &kp H &kp A &kp T &kp SPC)
MACRO(m_when, &kp W &kp H &kp E &kp N &kp SPC)
MACRO(s_m_when, &sk LSHIFT &kp W &kp H &kp E &kp N &kp SPC)
MACRO(m_will, &kp W &kp I &kp L &kp L &kp SPC)
MACRO(s_m_will, &sk LSHIFT &kp W &kp I &kp L &kp L &kp SPC)
MACRO(m_with, &kp W &kp I &kp T &kp H &kp SPC)
MACRO(s_m_with, &sk LSHIFT &kp W &kp I &kp T &kp H &kp SPC)
MACRO(m_word, &kp W &kp O &kp R &kp D &kp SPC)
MACRO(s_m_word, &sk LSHIFT &kp W &kp O &kp R &kp D &kp SPC)
MACRO(m_work, &kp W &kp O &kp R &kp K &kp SPC)
MACRO(s_m_work, &sk LSHIFT &kp W &kp O &kp R &kp K &kp SPC)
MACRO(m_worked, &kp W &kp O &kp R &kp K &kp E &kp D &kp SPC)
MACRO(s_m_worked, &sk LSHIFT &kp W &kp O &kp R &kp K &kp E &kp D &kp SPC)
MACRO(m_year, &kp Y &kp E &kp A &kp R &kp SPC)
MACRO(s_m_year, &sk LSHIFT &kp Y &kp E &kp A &kp R &kp SPC)
MACRO(m_about, &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(s_m_about, &sk LSHIFT &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(m_above, &kp A &kp B &kp O &kp V &kp E &kp SPC)
MACRO(s_m_above, &sk LSHIFT &kp A &kp B &kp O &kp V &kp E &kp SPC)
MACRO(m_after, &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(s_m_after, &sk LSHIFT &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(m_again, &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(s_m_again, &sk LSHIFT &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(m_along, &kp A &kp L &kp O &kp N &kp G &kp SPC)
MACRO(s_m_along, &sk LSHIFT &kp A &kp L &kp O &kp N &kp G &kp SPC)
MACRO(m_begin, &kp B &kp E &kp G &kp I &kp N &kp SPC)
MACRO(s_m_begin, &sk LSHIFT &kp B &kp E &kp G &kp I &kp N &kp SPC)
MACRO(m_began, &kp B &kp E &kp G &kp A &kp N &kp SPC)
MACRO(s_m_began, &sk LSHIFT &kp B &kp E &kp G &kp A &kp N &kp SPC)
MACRO(m_being, &kp B &kp E &kp I &kp N &kp G &kp SPC)
MACRO(s_m_being, &sk LSHIFT &kp B &kp E &kp I &kp N &kp G &kp SPC)
MACRO(m_below, &kp B &kp E &kp L &kp O &kp W &kp SPC)
MACRO(s_m_below, &sk LSHIFT &kp B &kp E &kp L &kp O &kp W &kp SPC)
MACRO(m_carry, &kp C &kp A &kp R &kp R &kp Y &kp SPC)
MACRO(s_m_carry, &sk LSHIFT &kp C &kp A &kp R &kp R &kp Y &kp SPC)
MACRO(m_carried, &kp C &kp A &kp R &kp R &kp I &kp E &kp D &kp SPC)
MACRO(s_m_carried, &sk LSHIFT &kp C &kp A &kp R &kp R &kp I &kp E &kp D &kp SPC)
MACRO(m_child, &kp C &kp H &kp I &kp L &kp D &kp SPC)
MACRO(s_m_child, &sk LSHIFT &kp C &kp H &kp I &kp L &kp D &kp SPC)
MACRO(m_close, &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(s_m_close, &sk LSHIFT &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(m_closed, &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(s_m_closed, &sk LSHIFT &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(m_early, &kp E &kp A &kp R &kp L &kp Y &kp SPC)
MACRO(s_m_early, &sk LSHIFT &kp E &kp A &kp R &kp L &kp Y &kp SPC)
MACRO(m_earth, &kp E &kp A &kp R &kp T &kp H &kp SPC)
MACRO(s_m_earth, &sk LSHIFT &kp E &kp A &kp R &kp T &kp H &kp SPC)
MACRO(m_every, &kp E &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(s_m_every, &sk LSHIFT &kp E &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(m_first, &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(s_m_first, &sk LSHIFT &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(m_found, &kp F &kp O &kp U &kp N &kp D &kp SPC)
MACRO(s_m_found, &sk LSHIFT &kp F &kp O &kp U &kp N &kp D &kp SPC)
MACRO(m_great, &kp G &kp R &kp E &kp A &kp T &kp SPC)
MACRO(s_m_great, &sk LSHIFT &kp G &kp R &kp E &kp A &kp T &kp SPC)
MACRO(m_group, &kp G &kp R &kp O &kp U &kp P &kp SPC)
MACRO(s_m_group, &sk LSHIFT &kp G &kp R &kp O &kp U &kp P &kp SPC)
MACRO(m_grouped, &kp G &kp R &kp O &kp U &kp P &kp E &kp D &kp SPC)
MACRO(s_m_grouped, &sk LSHIFT &kp G &kp R &kp O &kp U &kp P &kp E &kp D &kp SPC)
MACRO(m_house, &kp H &kp O &kp U &kp S &kp E &kp SPC)
MACRO(s_m_house, &sk LSHIFT &kp H &kp O &kp U &kp S &kp E &kp SPC)
MACRO(m_large, &kp L &kp A &kp R &kp G &kp E &kp SPC)
MACRO(s_m_large, &sk LSHIFT &kp L &kp A &kp R &kp G &kp E &kp SPC)
MACRO(m_learn, &kp L &kp E &kp A &kp R &kp N &kp SPC)
MACRO(s_m_learn, &sk LSHIFT &kp L &kp E &kp A &kp R &kp N &kp SPC)
MACRO(m_learned, &kp L &kp E &kp A &kp R &kp N &kp E &kp D &kp SPC)
MACRO(s_m_learned, &sk LSHIFT &kp L &kp E &kp A &kp R &kp N &kp E &kp D &kp SPC)
MACRO(m_leave, &kp L &kp E &kp A &kp V &kp E &kp SPC)
MACRO(s_m_leave, &sk LSHIFT &kp L &kp E &kp A &kp V &kp E &kp SPC)
MACRO(m_light, &kp L &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_m_light, &sk LSHIFT &kp L &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_lighted, &kp L &kp I &kp G &kp H &kp T &kp E &kp D &kp SPC)
MACRO(s_m_lighted, &sk LSHIFT &kp L &kp I &kp G &kp H &kp T &kp E &kp D &kp SPC)
MACRO(m_might, &kp M &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_m_might, &sk LSHIFT &kp M &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_never, &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(s_m_never, &sk LSHIFT &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(m_night, &kp N &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_m_night, &sk LSHIFT &kp N &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_often, &kp O &kp F &kp T &kp E &kp N &kp SPC)
MACRO(s_m_often, &sk LSHIFT &kp O &kp F &kp T &kp E &kp N &kp SPC)
MACRO(m_order, &kp O &kp R &kp D &kp E &kp R &kp SPC)
MACRO(s_m_order, &sk LSHIFT &kp O &kp R &kp D &kp E &kp R &kp SPC)
MACRO(m_other, &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(s_m_other, &sk LSHIFT &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_paper, &kp P &kp A &kp P &kp E &kp R &kp SPC)
MACRO(s_m_paper, &sk LSHIFT &kp P &kp A &kp P &kp E &kp R &kp SPC)
MACRO(m_place, &kp P &kp L &kp A &kp C &kp E &kp SPC)
MACRO(s_m_place, &sk LSHIFT &kp P &kp L &kp A &kp C &kp E &kp SPC)
MACRO(m_plant, &kp P &kp L &kp A &kp N &kp T &kp SPC)
MACRO(s_m_plant, &sk LSHIFT &kp P &kp L &kp A &kp N &kp T &kp SPC)
MACRO(m_planted, &kp P &kp L &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(s_m_planted, &sk LSHIFT &kp P &kp L &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_point, &kp P &kp O &kp I &kp N &kp T &kp SPC)
MACRO(s_m_point, &sk LSHIFT &kp P &kp O &kp I &kp N &kp T &kp SPC)
MACRO(m_pointed, &kp P &kp O &kp I &kp N &kp T &kp E &kp D &kp SPC)
MACRO(s_m_pointed, &sk LSHIFT &kp P &kp O &kp I &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_right, &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_m_right, &sk LSHIFT &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_river, &kp R &kp I &kp V &kp E &kp R &kp SPC)
MACRO(s_m_river, &sk LSHIFT &kp R &kp I &kp V &kp E &kp R &kp SPC)
MACRO(m_kubernetes, &kp K &kp U &kp B &kp E &kp R &kp N &kp E &kp T &kp E &kp S &kp SPC)
MACRO(s_m_kubernetes, &sk LSHIFT &kp K &kp U &kp B &kp E &kp R &kp N &kp E &kp T &kp E &kp S &kp SPC)
MACRO(m_function, &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPC)
MACRO(s_m_function, &sk LSHIFT &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPC)
