#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(m_BSPCDOTSPCLSHIFT, &kp BSPC &kp DOT &kp SPC &sk LSHIFT)
MACRO(m_BSPCCOMMA, &kp BSPC &kp COMMA &kp SPC)
MACRO(m_BSPCQUESTION, &kp BSPC &kp QUESTION &kp SPC)
MACRO(m_BSPCing, &kp BSPC &kp I &kp N &kp G &kp SPC)
MACRO(m_a, &kp A &kp SPC)
MACRO(m_I, &sk LSHIFT &kp I &kp SPC)
MACRO(m_an, &kp A &kp N &kp SPC)
MACRO(m_as, &kp A &kp S &kp SPC)
MACRO(m_at, &kp A &kp T &kp SPC)
MACRO(m_be, &kp B &kp E &kp SPC)
MACRO(m_by, &kp B &kp Y &kp SPC)
MACRO(m_do, &kp D &kp O &kp SPC)
MACRO(m_did, &kp D &kp I &kp D &kp SPC)
MACRO(m_doing, &kp D &kp O &kp I &kp N &kp G &kp SPC)
MACRO(m_go, &kp G &kp O &kp SPC)
MACRO(m_went, &kp W &kp E &kp N &kp T &kp SPC)
MACRO(m_going, &kp G &kp O &kp I &kp N &kp G &kp SPC)
MACRO(m_he, &kp H &kp E &kp SPC)
MACRO(m_hi, &kp H &kp I &kp SPC)
MACRO(m_if, &kp I &kp F &kp SPC)
MACRO(m_in, &kp I &kp N &kp SPC)
MACRO(m_is, &kp I &kp S &kp SPC)
MACRO(m_it, &kp I &kp T &kp SPC)
MACRO(m_its, &kp I &kp T &kp S &kp SPC)
MACRO(m_me, &kp M &kp E &kp SPC)
MACRO(m_mine, &kp M &kp I &kp N &kp E &kp SPC)
MACRO(m_my, &kp M &kp Y &kp SPC)
MACRO(m_no, &kp N &kp O &kp SPC)
MACRO(m_of, &kp O &kp F &kp SPC)
MACRO(m_OK, &sk LSHIFT &kp O &sk LSHIFT &kp K &kp SPC)
MACRO(m_on, &kp O &kp N &kp SPC)
MACRO(m_or, &kp O &kp R &kp SPC)
MACRO(m_so, &kp S &kp O &kp SPC)
MACRO(m_to, &kp T &kp O &kp SPC)
MACRO(m_up, &kp U &kp P &kp SPC)
MACRO(m_us, &kp U &kp S &kp SPC)
MACRO(m_we, &kp W &kp E &kp SPC)
MACRO(m_add, &kp A &kp D &kp D &kp SPC)
MACRO(m_added, &kp A &kp D &kp D &kp E &kp D &kp SPC)
MACRO(m_adding, &kp A &kp D &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_air, &kp A &kp I &kp R &kp SPC)
MACRO(m_all, &kp A &kp L &kp L &kp SPC)
MACRO(m_and, &kp A &kp N &kp D &kp SPC)
MACRO(m_any, &kp A &kp N &kp Y &kp SPC)
MACRO(m_are, &kp A &kp R &kp E &kp SPC)
MACRO(m_ask, &kp A &kp S &kp K &kp SPC)
MACRO(m_big, &kp B &kp I &kp G &kp SPC)
MACRO(m_boy, &kp B &kp O &kp Y &kp SPC)
MACRO(m_but, &kp B &kp U &kp T &kp SPC)
MACRO(m_can, &kp C &kp A &kp N &kp SPC)
MACRO(m_could, &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(m_car, &kp C &kp A &kp R &kp SPC)
MACRO(m_cut, &kp C &kp U &kp T &kp SPC)
MACRO(m_day, &kp D &kp A &kp Y &kp SPC)
MACRO(m_eat, &kp E &kp A &kp T &kp SPC)
MACRO(m_ate, &kp A &kp T &kp E &kp SPC)
MACRO(m_eating, &kp E &kp A &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_end, &kp E &kp N &kp D &kp SPC)
MACRO(m_eye, &kp E &kp Y &kp E &kp SPC)
MACRO(m_eyed, &kp E &kp Y &kp E &kp D &kp SPC)
MACRO(m_eying, &kp E &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(m_far, &kp F &kp A &kp R &kp SPC)
MACRO(m_few, &kp F &kp E &kp W &kp SPC)
MACRO(m_for, &kp F &kp O &kp R &kp SPC)
MACRO(m_get, &kp G &kp E &kp T &kp SPC)
MACRO(m_got, &kp G &kp O &kp T &kp SPC)
MACRO(m_getting, &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_has, &kp H &kp A &kp S &kp SPC)
MACRO(m_had, &kp H &kp A &kp D &kp SPC)
MACRO(m_her, &kp H &kp E &kp R &kp SPC)
MACRO(m_hers, &kp H &kp E &kp R &kp S &kp SPC)
MACRO(m_hey, &kp H &kp E &kp Y &kp SPC)
MACRO(m_him, &kp H &kp I &kp M &kp SPC)
MACRO(m_his, &kp H &kp I &kp S &kp SPC)
MACRO(m_how, &kp H &kp O &kp W &kp SPC)
MACRO(m_let, &kp L &kp E &kp T &kp SPC)
MACRO(m_man, &kp M &kp A &kp N &kp SPC)
MACRO(m_men, &kp M &kp E &kp N &kp SPC)
MACRO(m_may, &kp M &kp A &kp Y &kp SPC)
MACRO(m_new, &kp N &kp E &kp W &kp SPC)
MACRO(m_not, &kp N &kp O &kp T &kp SPC)
MACRO(m_now, &kp N &kp O &kp W &kp SPC)
MACRO(m_off, &kp O &kp F &kp F &kp SPC)
MACRO(m_oil, &kp O &kp I &kp L &kp SPC)
MACRO(m_old, &kp O &kp L &kp D &kp SPC)
MACRO(m_one, &kp O &kp N &kp E &kp SPC)
MACRO(m_oneSQTs, &kp O &kp N &kp E &kp SQT &kp S &kp SPC)
MACRO(m_our, &kp O &kp U &kp R &kp SPC)
MACRO(m_ours, &kp O &kp U &kp R &kp S &kp SPC)
MACRO(m_out, &kp O &kp U &kp T &kp SPC)
MACRO(m_own, &kp O &kp W &kp N &kp SPC)
MACRO(m_owned, &kp O &kp W &kp N &kp E &kp D &kp SPC)
MACRO(m_owning, &kp O &kp W &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_put, &kp P &kp U &kp T &kp SPC)
MACRO(m_run, &kp R &kp U &kp N &kp SPC)
MACRO(m_ran, &kp R &kp A &kp N &kp SPC)
MACRO(m_running, &kp R &kp U &kp N &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_say, &kp S &kp A &kp Y &kp SPC)
MACRO(m_sea, &kp S &kp E &kp A &kp SPC)
MACRO(m_see, &kp S &kp E &kp E &kp SPC)
MACRO(m_saw, &kp S &kp A &kp W &kp SPC)
MACRO(m_seeing, &kp S &kp E &kp E &kp I &kp N &kp G &kp SPC)
MACRO(m_set, &kp S &kp E &kp T &kp SPC)
MACRO(m_she, &kp S &kp H &kp E &kp SPC)
MACRO(m_the, &kp T &kp H &kp E &kp SPC)
MACRO(m_too, &kp T &kp O &kp O &kp SPC)
MACRO(m_try, &kp T &kp R &kp Y &kp SPC)
MACRO(m_tried, &kp T &kp R &kp I &kp E &kp D &kp SPC)
MACRO(m_trying, &kp T &kp R &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(m_two, &kp T &kp W &kp O &kp SPC)
MACRO(m_use, &kp U &kp S &kp E &kp SPC)
MACRO(m_used, &kp U &kp S &kp E &kp D &kp SPC)
MACRO(m_using, &kp U &kp S &kp I &kp N &kp G &kp SPC)
MACRO(m_was, &kp W &kp A &kp S &kp SPC)
MACRO(m_way, &kp W &kp A &kp Y &kp SPC)
MACRO(m_who, &kp W &kp H &kp O &kp SPC)
MACRO(m_why, &kp W &kp H &kp Y &kp SPC)
MACRO(m_you, &kp Y &kp O &kp U &kp SPC)
MACRO(m_yours, &kp Y &kp O &kp U &kp R &kp S &kp SPC)
MACRO(m_your, &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(m_also, &kp A &kp L &kp S &kp O &kp SPC)
MACRO(m_away, &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(m_back, &kp B &kp A &kp C &kp K &kp SPC)
MACRO(m_been, &kp B &kp E &kp E &kp N &kp SPC)
MACRO(m_book, &kp B &kp O &kp O &kp K &kp SPC)
MACRO(m_booked, &kp B &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(m_booking, &kp B &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_both, &kp B &kp O &kp T &kp H &kp SPC)
MACRO(m_call, &kp C &kp A &kp L &kp L &kp SPC)
MACRO(m_city, &kp C &kp I &kp T &kp Y &kp SPC)
MACRO(m_come, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(m_came, &kp C &kp A &kp M &kp E &kp SPC)
MACRO(m_coming, &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC)
MACRO(m_does, &kp D &kp O &kp E &kp S &kp SPC)
MACRO(m_down, &kp D &kp O &kp W &kp N &kp SPC)
MACRO(m_each, &kp E &kp A &kp C &kp H &kp SPC)
MACRO(m_even, &kp E &kp V &kp E &kp N &kp SPC)
MACRO(m_face, &kp F &kp A &kp C &kp E &kp SPC)
MACRO(m_faced, &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(m_facing, &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(m_fact, &kp F &kp A &kp C &kp T &kp SPC)
MACRO(m_feel, &kp F &kp E &kp E &kp L &kp SPC)
MACRO(m_felt, &kp F &kp E &kp L &kp T &kp SPC)
MACRO(m_feeling, &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC)
MACRO(m_feet, &kp F &kp E &kp E &kp T &kp SPC)
MACRO(m_find, &kp F &kp I &kp N &kp D &kp SPC)
MACRO(m_found, &kp F &kp O &kp U &kp N &kp D &kp SPC)
MACRO(m_finding, &kp F &kp I &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_food, &kp F &kp O &kp O &kp D &kp SPC)
MACRO(m_form, &kp F &kp O &kp R &kp M &kp SPC)
MACRO(m_four, &kp F &kp O &kp U &kp R &kp SPC)
MACRO(m_from, &kp F &kp R &kp O &kp M &kp SPC)
MACRO(m_girl, &kp G &kp I &kp R &kp L &kp SPC)
MACRO(m_give, &kp G &kp I &kp V &kp E &kp SPC)
MACRO(m_gave, &kp G &kp A &kp V &kp E &kp SPC)
MACRO(m_giving, &kp G &kp I &kp V &kp I &kp N &kp G &kp SPC)
MACRO(m_good, &kp G &kp O &kp O &kp D &kp SPC)
MACRO(m_grow, &kp G &kp R &kp O &kp W &kp SPC)
MACRO(m_grew, &kp G &kp R &kp E &kp W &kp SPC)
MACRO(m_growing, &kp G &kp R &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(m_hand, &kp H &kp A &kp N &kp D &kp SPC)
MACRO(m_handed, &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(m_handing, &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_hard, &kp H &kp A &kp R &kp D &kp SPC)
MACRO(m_have, &kp H &kp A &kp V &kp E &kp SPC)
MACRO(m_head, &kp H &kp E &kp A &kp D &kp SPC)
MACRO(m_headed, &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(m_heading, &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_hear, &kp H &kp E &kp A &kp R &kp SPC)
MACRO(m_heard, &kp H &kp E &kp A &kp R &kp D &kp SPC)
MACRO(m_hearing, &kp H &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_help, &kp H &kp E &kp L &kp P &kp SPC)
MACRO(m_helped, &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC)
MACRO(m_helping, &kp H &kp E &kp L &kp P &kp I &kp N &kp G &kp SPC)
MACRO(m_here, &kp H &kp E &kp R &kp E &kp SPC)
MACRO(m_high, &kp H &kp I &kp G &kp H &kp SPC)
MACRO(m_hold, &kp H &kp O &kp L &kp D &kp SPC)
MACRO(m_held, &kp H &kp E &kp L &kp D &kp SPC)
MACRO(m_holding, &kp H &kp O &kp L &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_home, &kp H &kp O &kp M &kp E &kp SPC)
MACRO(m_idea, &kp I &kp D &kp E &kp A &kp SPC)
MACRO(m_into, &kp I &kp N &kp T &kp O &kp SPC)
MACRO(m_just, &kp J &kp U &kp S &kp T &kp SPC)
MACRO(m_keep, &kp K &kp E &kp E &kp P &kp SPC)
MACRO(m_kept, &kp K &kp E &kp P &kp T &kp SPC)
MACRO(m_keeping, &kp K &kp E &kp E &kp P &kp I &kp N &kp G &kp SPC)
MACRO(m_kind, &kp K &kp I &kp N &kp D &kp SPC)
MACRO(m_know, &kp K &kp N &kp O &kp W &kp SPC)
MACRO(m_knew, &kp K &kp N &kp E &kp W &kp SPC)
MACRO(m_knowing, &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(m_land, &kp L &kp A &kp N &kp D &kp SPC)
MACRO(m_landed, &kp L &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(m_landing, &kp L &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_last, &kp L &kp A &kp S &kp T &kp SPC)
MACRO(m_late, &kp L &kp A &kp T &kp E &kp SPC)
MACRO(m_later, &kp L &kp A &kp T &kp E &kp R &kp SPC)
MACRO(m_lead, &kp L &kp E &kp A &kp D &kp SPC)
MACRO(m_led, &kp L &kp E &kp D &kp SPC)
MACRO(m_leading, &kp L &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_left, &kp L &kp E &kp F &kp T &kp SPC)
MACRO(m_life, &kp L &kp I &kp F &kp E &kp SPC)
MACRO(m_like, &kp L &kp I &kp K &kp E &kp SPC)
MACRO(m_liked, &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(m_liking, &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_line, &kp L &kp I &kp N &kp E &kp SPC)
MACRO(m_list, &kp L &kp I &kp S &kp T &kp SPC)
MACRO(m_listed, &kp L &kp I &kp S &kp T &kp E &kp D &kp SPC)
MACRO(m_listing, &kp L &kp I &kp S &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_live, &kp L &kp I &kp V &kp E &kp SPC)
MACRO(m_lived, &kp L &kp I &kp V &kp E &kp D &kp SPC)
MACRO(m_living, &kp L &kp I &kp V &kp I &kp N &kp G &kp SPC)
MACRO(m_long, &kp L &kp O &kp N &kp G &kp SPC)
MACRO(m_look, &kp L &kp O &kp O &kp K &kp SPC)
MACRO(m_looked, &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(m_looking, &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_make, &kp M &kp A &kp K &kp E &kp SPC)
MACRO(m_made, &kp M &kp A &kp D &kp E &kp SPC)
MACRO(m_making, &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_many, &kp M &kp A &kp N &kp Y &kp SPC)
MACRO(m_mean, &kp M &kp E &kp A &kp N &kp SPC)
MACRO(m_miss, &kp M &kp I &kp S &kp S &kp SPC)
MACRO(m_missed, &kp M &kp I &kp S &kp S &kp E &kp D &kp SPC)
MACRO(m_missing, &kp M &kp I &kp S &kp S &kp I &kp N &kp G &kp SPC)
MACRO(m_more, &kp M &kp O &kp R &kp E &kp SPC)
MACRO(m_most, &kp M &kp O &kp S &kp T &kp SPC)
MACRO(m_move, &kp M &kp O &kp V &kp E &kp SPC)
MACRO(m_moved, &kp M &kp O &kp V &kp E &kp D &kp SPC)
MACRO(m_moving, &kp M &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(m_much, &kp M &kp U &kp C &kp H &kp SPC)
MACRO(m_must, &kp M &kp U &kp S &kp T &kp SPC)
MACRO(m_name, &kp N &kp A &kp M &kp E &kp SPC)
MACRO(m_near, &kp N &kp E &kp A &kp R &kp SPC)
MACRO(m_neared, &kp N &kp E &kp A &kp R &kp E &kp D &kp SPC)
MACRO(m_nearing, &kp N &kp E &kp A &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_need, &kp N &kp E &kp E &kp D &kp SPC)
MACRO(m_needed, &kp N &kp E &kp E &kp D &kp E &kp D &kp SPC)
MACRO(m_needing, &kp N &kp E &kp E &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_next, &kp N &kp E &kp X &kp T &kp SPC)
MACRO(m_once, &kp O &kp N &kp C &kp E &kp SPC)
MACRO(m_only, &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(m_open, &kp O &kp P &kp E &kp N &kp SPC)
MACRO(m_opened, &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(m_opening, &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_over, &kp O &kp V &kp E &kp R &kp SPC)
MACRO(m_page, &kp P &kp A &kp G &kp E &kp SPC)
MACRO(m_part, &kp P &kp A &kp R &kp T &kp SPC)
MACRO(m_plan, &kp P &kp L &kp A &kp N &kp SPC)
MACRO(m_play, &kp P &kp L &kp A &kp Y &kp SPC)
MACRO(m_played, &kp P &kp L &kp A &kp Y &kp E &kp D &kp SPC)
MACRO(m_playing, &kp P &kp L &kp A &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(m_read, &kp R &kp E &kp A &kp D &kp SPC)
MACRO(m_real, &kp R &kp E &kp A &kp L &kp SPC)
MACRO(m_said, &kp S &kp A &kp I &kp D &kp SPC)
MACRO(m_same, &kp S &kp A &kp M &kp E &kp SPC)
MACRO(m_seem, &kp S &kp E &kp E &kp M &kp SPC)
MACRO(m_seemed, &kp S &kp E &kp E &kp M &kp E &kp D &kp SPC)
MACRO(m_seeming, &kp S &kp E &kp E &kp M &kp I &kp N &kp G &kp SPC)
MACRO(m_show, &kp S &kp H &kp O &kp W &kp SPC)
MACRO(m_showed, &kp S &kp H &kp O &kp W &kp E &kp D &kp SPC)
MACRO(m_showing, &kp S &kp H &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(m_side, &kp S &kp I &kp D &kp E &kp SPC)
MACRO(m_some, &kp S &kp O &kp M &kp E &kp SPC)
MACRO(m_song, &kp S &kp O &kp N &kp G &kp SPC)
MACRO(m_soon, &kp S &kp O &kp O &kp N &kp SPC)
MACRO(m_stop, &kp S &kp T &kp O &kp P &kp SPC)
MACRO(m_stopped, &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(m_stoping, &kp S &kp T &kp O &kp P &kp I &kp N &kp G &kp SPC)
MACRO(m_such, &kp S &kp U &kp C &kp H &kp SPC)
MACRO(m_take, &kp T &kp A &kp K &kp E &kp SPC)
MACRO(m_took, &kp T &kp O &kp O &kp K &kp SPC)
MACRO(m_taking, &kp T &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_talk, &kp T &kp A &kp L &kp K &kp SPC)
MACRO(m_tell, &kp T &kp E &kp L &kp L &kp SPC)
MACRO(m_told, &kp T &kp O &kp L &kp D &kp SPC)
MACRO(m_telling, &kp T &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(m_than, &kp T &kp H &kp A &kp N &kp SPC)
MACRO(m_that, &kp T &kp H &kp A &kp T &kp SPC)
MACRO(m_them, &kp T &kp H &kp E &kp M &kp SPC)
MACRO(m_then, &kp T &kp H &kp E &kp N &kp SPC)
MACRO(m_they, &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(m_theirs, &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC)
MACRO(m_their, &kp T &kp H &kp E &kp I &kp R &kp SPC)
MACRO(m_this, &kp T &kp H &kp I &kp S &kp SPC)
MACRO(m_time, &kp T &kp I &kp M &kp E &kp SPC)
MACRO(m_timed, &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(m_timing, &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC)
MACRO(m_tree, &kp T &kp R &kp E &kp E &kp SPC)
MACRO(m_turn, &kp T &kp U &kp R &kp N &kp SPC)
MACRO(m_very, &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(m_walk, &kp W &kp A &kp L &kp K &kp SPC)
MACRO(m_walked, &kp W &kp A &kp L &kp K &kp E &kp D &kp SPC)
MACRO(m_walking, &kp W &kp A &kp L &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_want, &kp W &kp A &kp N &kp T &kp SPC)
MACRO(m_wanted, &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_wanting, &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_week, &kp W &kp E &kp E &kp K &kp SPC)
MACRO(m_well, &kp W &kp E &kp L &kp L &kp SPC)
MACRO(m_were, &kp W &kp E &kp R &kp E &kp SPC)
MACRO(m_what, &kp W &kp H &kp A &kp T &kp SPC)
MACRO(m_when, &kp W &kp H &kp E &kp N &kp SPC)
MACRO(m_will, &kp W &kp I &kp L &kp L &kp SPC)
MACRO(m_with, &kp W &kp I &kp T &kp H &kp SPC)
MACRO(m_word, &kp W &kp O &kp R &kp D &kp SPC)
MACRO(m_work, &kp W &kp O &kp R &kp K &kp SPC)
MACRO(m_worked, &kp W &kp O &kp R &kp K &kp E &kp D &kp SPC)
MACRO(m_working, &kp W &kp O &kp R &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_year, &kp Y &kp E &kp A &kp R &kp SPC)
MACRO(m_about, &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(m_above, &kp A &kp B &kp O &kp V &kp E &kp SPC)
MACRO(m_after, &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(m_again, &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(m_along, &kp A &kp L &kp O &kp N &kp G &kp SPC)
MACRO(m_begin, &kp B &kp E &kp G &kp I &kp N &kp SPC)
MACRO(m_began, &kp B &kp E &kp G &kp A &kp N &kp SPC)
MACRO(m_beginning, &kp B &kp E &kp G &kp I &kp N &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_being, &kp B &kp E &kp I &kp N &kp G &kp SPC)
MACRO(m_below, &kp B &kp E &kp L &kp O &kp W &kp SPC)
MACRO(m_carry, &kp C &kp A &kp R &kp R &kp Y &kp SPC)
MACRO(m_carried, &kp C &kp A &kp R &kp R &kp I &kp E &kp D &kp SPC)
MACRO(m_carrying, &kp C &kp A &kp R &kp R &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(m_child, &kp C &kp H &kp I &kp L &kp D &kp SPC)
MACRO(m_children, &kp C &kp H &kp I &kp L &kp D &kp R &kp E &kp N &kp SPC)
MACRO(m_close, &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(m_closed, &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(m_closing, &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC)
MACRO(m_early, &kp E &kp A &kp R &kp L &kp Y &kp SPC)
MACRO(m_earth, &kp E &kp A &kp R &kp T &kp H &kp SPC)
MACRO(m_every, &kp E &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(m_first, &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(m_great, &kp G &kp R &kp E &kp A &kp T &kp SPC)
MACRO(m_group, &kp G &kp R &kp O &kp U &kp P &kp SPC)
MACRO(m_grouped, &kp G &kp R &kp O &kp U &kp P &kp E &kp D &kp SPC)
MACRO(m_grouping, &kp G &kp R &kp O &kp U &kp P &kp I &kp N &kp G &kp SPC)
MACRO(m_house, &kp H &kp O &kp U &kp S &kp E &kp SPC)
MACRO(m_large, &kp L &kp A &kp R &kp G &kp E &kp SPC)
MACRO(m_learn, &kp L &kp E &kp A &kp R &kp N &kp SPC)
MACRO(m_learnt, &kp L &kp E &kp A &kp R &kp N &kp T &kp SPC)
MACRO(m_learning, &kp L &kp E &kp A &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_leave, &kp L &kp E &kp A &kp V &kp E &kp SPC)
MACRO(m_light, &kp L &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_lighted, &kp L &kp I &kp G &kp H &kp T &kp E &kp D &kp SPC)
MACRO(m_lighting, &kp L &kp I &kp G &kp H &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_might, &kp M &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_never, &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(m_night, &kp N &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_often, &kp O &kp F &kp T &kp E &kp N &kp SPC)
MACRO(m_order, &kp O &kp R &kp D &kp E &kp R &kp SPC)
MACRO(m_other, &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_paper, &kp P &kp A &kp P &kp E &kp R &kp SPC)
MACRO(m_place, &kp P &kp L &kp A &kp C &kp E &kp SPC)
MACRO(m_plant, &kp P &kp L &kp A &kp N &kp T &kp SPC)
MACRO(m_planted, &kp P &kp L &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_planting, &kp P &kp L &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_point, &kp P &kp O &kp I &kp N &kp T &kp SPC)
MACRO(m_pointed, &kp P &kp O &kp I &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_pointing, &kp P &kp O &kp I &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_right, &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(m_river, &kp R &kp I &kp V &kp E &kp R &kp SPC)
MACRO(m_since, &kp S &kp I &kp N &kp C &kp E &kp SPC)
MACRO(m_small, &kp S &kp M &kp A &kp L &kp L &kp SPC)
MACRO(m_sound, &kp S &kp O &kp U &kp N &kp D &kp SPC)
MACRO(m_sounded, &kp S &kp O &kp U &kp N &kp D &kp E &kp D &kp SPC)
MACRO(m_sounding, &kp S &kp O &kp U &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_spell, &kp S &kp P &kp E &kp L &kp L &kp SPC)
MACRO(m_spelled, &kp S &kp P &kp E &kp L &kp L &kp E &kp D &kp SPC)
MACRO(m_spelling, &kp S &kp P &kp E &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(m_stand, &kp S &kp T &kp A &kp N &kp D &kp SPC)
MACRO(m_stood, &kp S &kp T &kp O &kp O &kp D &kp SPC)
MACRO(m_standing, &kp S &kp T &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(m_start, &kp S &kp T &kp A &kp R &kp T &kp SPC)
MACRO(m_started, &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC)
MACRO(m_starting, &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_state, &kp S &kp T &kp A &kp T &kp E &kp SPC)
MACRO(m_stated, &kp S &kp T &kp A &kp T &kp E &kp D &kp SPC)
MACRO(m_stating, &kp S &kp T &kp A &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_still, &kp S &kp T &kp I &kp L &kp L &kp SPC)
MACRO(m_story, &kp S &kp T &kp O &kp R &kp Y &kp SPC)
MACRO(m_study, &kp S &kp T &kp U &kp D &kp Y &kp SPC)
MACRO(m_studied, &kp S &kp T &kp U &kp D &kp I &kp E &kp D &kp SPC)
MACRO(m_studying, &kp S &kp T &kp U &kp D &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(m_there, &kp T &kp H &kp E &kp R &kp E &kp SPC)
MACRO(m_these, &kp T &kp H &kp E &kp S &kp E &kp SPC)
MACRO(m_thing, &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(m_think, &kp T &kp H &kp I &kp N &kp K &kp SPC)
MACRO(m_thought, &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC)
MACRO(m_thinking, &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC)
MACRO(m_those, &kp T &kp H &kp O &kp S &kp E &kp SPC)
MACRO(m_three, &kp T &kp H &kp R &kp E &kp E &kp SPC)
MACRO(m_under, &kp U &kp N &kp D &kp E &kp R &kp SPC)
MACRO(m_until, &kp U &kp N &kp T &kp I &kp L &kp SPC)
MACRO(m_watch, &kp W &kp A &kp T &kp C &kp H &kp SPC)
MACRO(m_watched, &kp W &kp A &kp T &kp C &kp H &kp E &kp D &kp SPC)
MACRO(m_watching, &kp W &kp A &kp T &kp C &kp H &kp I &kp N &kp G &kp SPC)
MACRO(m_water, &kp W &kp A &kp T &kp E &kp R &kp SPC)
MACRO(m_watered, &kp W &kp A &kp T &kp E &kp R &kp E &kp D &kp SPC)
MACRO(m_watering, &kp W &kp A &kp T &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_where, &kp W &kp H &kp E &kp R &kp E &kp SPC)
MACRO(m_which, &kp W &kp H &kp I &kp C &kp H &kp SPC)
MACRO(m_while, &kp W &kp H &kp I &kp L &kp E &kp SPC)
MACRO(m_white, &kp W &kp H &kp I &kp T &kp E &kp SPC)
MACRO(m_world, &kp W &kp O &kp R &kp L &kp D &kp SPC)
MACRO(m_would, &kp W &kp O &kp U &kp L &kp D &kp SPC)
MACRO(m_write, &kp W &kp R &kp I &kp T &kp E &kp SPC)
MACRO(m_wrote, &kp W &kp R &kp O &kp T &kp E &kp SPC)
MACRO(m_writing, &kp W &kp R &kp I &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_young, &kp Y &kp O &kp U &kp N &kp G &kp SPC)
MACRO(m_almost, &kp A &kp L &kp M &kp O &kp S &kp T &kp SPC)
MACRO(m_always, &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(m_animal, &kp A &kp N &kp I &kp M &kp A &kp L &kp SPC)
MACRO(m_answer, &kp A &kp N &kp S &kp W &kp E &kp R &kp SPC)
MACRO(m_answered, &kp A &kp N &kp S &kp W &kp E &kp R &kp E &kp D &kp SPC)
MACRO(m_answering, &kp A &kp N &kp S &kp W &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_around, &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC)
MACRO(m_become, &kp B &kp E &kp C &kp O &kp M &kp E &kp SPC)
MACRO(m_before, &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC)
MACRO(m_change, &kp C &kp H &kp A &kp N &kp G &kp E &kp SPC)
MACRO(m_changed, &kp C &kp H &kp A &kp N &kp G &kp E &kp D &kp SPC)
MACRO(m_changing, &kp C &kp H &kp A &kp N &kp G &kp I &kp N &kp G &kp SPC)
MACRO(m_course, &kp C &kp O &kp U &kp R &kp S &kp E &kp SPC)
MACRO(m_during, &kp D &kp U &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_enough, &kp E &kp N &kp O &kp U &kp G &kp H &kp SPC)
MACRO(m_family, &kp F &kp A &kp M &kp I &kp L &kp Y &kp SPC)
MACRO(m_father, &kp F &kp A &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_fathered, &kp F &kp A &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC)
MACRO(m_fathering, &kp F &kp A &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_follow, &kp F &kp O &kp L &kp L &kp O &kp W &kp SPC)
MACRO(m_followed, &kp F &kp O &kp L &kp L &kp O &kp W &kp E &kp D &kp SPC)
MACRO(m_following, &kp F &kp O &kp L &kp L &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(m_govern, &kp G &kp O &kp V &kp E &kp R &kp N &kp SPC)
MACRO(m_governed, &kp G &kp O &kp V &kp E &kp R &kp N &kp E &kp D &kp SPC)
MACRO(m_governing, &kp G &kp O &kp V &kp E &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_letter, &kp L &kp E &kp T &kp T &kp E &kp R &kp SPC)
MACRO(m_little, &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC)
MACRO(m_mother, &kp M &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_mothered, &kp M &kp O &kp T &kp H &kp E &kp R &kp E &kp D &kp SPC)
MACRO(m_mothering, &kp M &kp O &kp T &kp H &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_nation, &kp N &kp A &kp T &kp I &kp O &kp N &kp SPC)
MACRO(m_number, &kp N &kp U &kp M &kp B &kp E &kp R &kp SPC)
MACRO(m_person, &kp P &kp E &kp R &kp S &kp O &kp N &kp SPC)
MACRO(m_people, &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC)
MACRO(m_public, &kp P &kp U &kp B &kp L &kp I &kp C &kp SPC)
MACRO(m_really, &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC)
MACRO(m_school, &kp S &kp C &kp H &kp O &kp O &kp L &kp SPC)
MACRO(m_second, &kp S &kp E &kp C &kp O &kp N &kp D &kp SPC)
MACRO(m_should, &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC)
MACRO(m_system, &kp S &kp Y &kp S &kp T &kp E &kp M &kp SPC)
MACRO(m_against, &kp A &kp G &kp A &kp I &kp N &kp S &kp T &kp SPC)
MACRO(m_another, &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_because, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
MACRO(m_between, &kp B &kp E &kp T &kp W &kp E &kp E &kp N &kp SPC)
MACRO(m_country, &kp C &kp O &kp U &kp N &kp T &kp R &kp Y &kp SPC)
MACRO(m_develop, &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp SPC)
MACRO(m_developed, &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp E &kp D &kp SPC)
MACRO(m_developing, &kp D &kp E &kp V &kp E &kp L &kp O &kp P &kp I &kp N &kp G &kp SPC)
MACRO(m_example, &kp E &kp X &kp A &kp M &kp P &kp L &kp E &kp SPC)
MACRO(m_general, &kp G &kp E &kp N &kp E &kp R &kp A &kp L &kp SPC)
MACRO(m_however, &kp H &kp O &kp W &kp E &kp V &kp E &kp R &kp SPC)
MACRO(m_picture, &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp SPC)
MACRO(m_pictured, &kp P &kp I &kp C &kp T &kp U &kp R &kp E &kp D &kp SPC)
MACRO(m_picturing, &kp P &kp I &kp C &kp T &kp U &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_present, &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp SPC)
MACRO(m_presented, &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp E &kp D &kp SPC)
MACRO(m_presenting, &kp P &kp R &kp E &kp S &kp E &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_problem, &kp P &kp R &kp O &kp B &kp L &kp E &kp M &kp SPC)
MACRO(m_program, &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp SPC)
MACRO(m_programmed, &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp E &kp D &kp SPC)
MACRO(m_programming, &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp M &kp I &kp N &kp G &kp SPC)
MACRO(m_through, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
MACRO(m_without, &kp W &kp I &kp T &kp H &kp O &kp U &kp T &kp SPC)
MACRO(m_consider, &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp SPC)
MACRO(m_considered, &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp E &kp D &kp SPC)
MACRO(m_considering, &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(m_increase, &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp SPC)
MACRO(m_increased, &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp E &kp D &kp SPC)
MACRO(m_increasing, &kp I &kp N &kp C &kp R &kp E &kp A &kp S &kp I &kp N &kp G &kp SPC)
MACRO(m_interest, &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp SPC)
MACRO(m_interested, &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp E &kp D &kp SPC)
MACRO(m_interesting, &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp I &kp N &kp G &kp SPC)
MACRO(m_mountain, &kp M &kp O &kp U &kp N &kp T &kp A &kp I &kp N &kp SPC)
MACRO(m_possible, &kp P &kp O &kp S &kp S &kp I &kp B &kp L &kp E &kp SPC)
MACRO(m_sentence, &kp S &kp E &kp N &kp T &kp E &kp N &kp C &kp E &kp SPC)
MACRO(m_together, &kp T &kp O &kp G &kp E &kp T &kp H &kp E &kp R &kp SPC)
MACRO(m_different, &kp D &kp I &kp F &kp F &kp E &kp R &kp E &kp N &kp T &kp SPC)
MACRO(m_important, &kp I &kp M &kp P &kp O &kp R &kp T &kp A &kp N &kp T &kp SPC)
MACRO(m_something, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(m_sometimes, &kp S &kp O &kp M &kp E &kp T &kp I &kp M &kp E &kp S &kp SPC)
MACRO(m_kubernetes, &kp K &kp U &kp B &kp E &kp R &kp N &kp E &kp T &kp E &kp S &kp SPC)
MACRO(m_function, &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPC)
MACRO(m_functioned, &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC)
MACRO(m_functioning, &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_question, &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp SPC)
MACRO(m_questioned, &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp E &kp D &kp SPC)
MACRO(m_questioning, &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp I &kp N &kp G &kp SPC)
MACRO(m_thankSPCyou, &kp T &kp H &kp A &kp N &kp K &kp SPC &kp Y &kp O &kp U &kp SPC)
MACRO(m_somebody, &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SPC)
MACRO(m_somebodySQTs, &kp S &kp O &kp M &kp E &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC)
MACRO(m_everybody, &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SPC)
MACRO(m_everybodySQTs, &kp E &kp V &kp E &kp R &kp Y &kp B &kp O &kp D &kp Y &kp SQT &kp S &kp SPC)
