// LEFT SIDE
#define TLI 3 // TOP
#define TLM 2 // TOP
#define TLR 1 // TOP
#define TLP 0 // TOP
#define BLI 13 // BOTTOM
#define BLM 12 // BOTTOM
#define BLR 11 // BOTTOM
#define BLP 10 // BOTTOM
#define LOT 30 // O-THUMB
#define LIT 31 // I-THUMB
#define LOP 20 // PINKY

// RIGHT SIDE
#define TRI 6 // TOP
#define TRM 7 // TOP
#define TRR 8 // TOP
#define TRP 9 // TOP
#define BRI 16 // BOTTOM
#define BRM 17 // BOTTOM
#define BRR 18 // BOTTOM
#define BRP 19 // BOTTOM
#define ROT 33 // O-THUMB
#define RIT 32 // I-THUMB
#define ROP 29 // PINKY

#define TCOMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
	timeout-ms = <50>; \
	bindings = <BINDINGS>; \
	key-positions = <KEYPOS>; \
    layers = <_TPO>; \
};

TCOMBO(1,&kp LS(E),BLI LOT)
TCOMBO(2,&kp LS(E),BRI ROT)
TCOMBO(3,&kp LS(T),BLM LOT)
TCOMBO(4,&kp LS(T),BRM ROT)
TCOMBO(5,&kp LS(O),BLR LOT)
TCOMBO(6,&kp LS(O),BRR ROT)
TCOMBO(7,&kp LS(A),BLP LOT)
TCOMBO(8,&kp LS(A),BRP ROT)
TCOMBO(9,&kp LPAR,BLI LIT)
TCOMBO(10,&kp LPAR,BRI RIT)
TCOMBO(11,&kp LBKT,BLM LIT)
TCOMBO(12,&kp LBKT,BRM RIT)
TCOMBO(13,&kp LBRC,BLR LIT)
TCOMBO(14,&kp LBRC,BRR RIT)
TCOMBO(15,&kp LT,BLP LIT)
TCOMBO(16,&kp LT,BRP RIT)
TCOMBO(17,&kp LS(I),LOT TLI)
TCOMBO(18,&kp LS(I),ROT TRI)
TCOMBO(19,&kp LS(N),LOT TLM)
TCOMBO(20,&kp LS(N),ROT TRM)
TCOMBO(21,&kp LS(S),LOT TLR)
TCOMBO(22,&kp LS(S),ROT TRR)
TCOMBO(23,&kp LS(R),LOT TLP)
TCOMBO(24,&kp LS(R),ROT TRP)
TCOMBO(25,&kp RPAR,LIT TLI)
TCOMBO(26,&kp RPAR,RIT TRI)
TCOMBO(27,&kp RBKT,LIT TLM)
TCOMBO(28,&kp RBKT,RIT TRM)
TCOMBO(29,&kp RBRC,LIT TLR)
TCOMBO(30,&kp RBRC,RIT TRR)
TCOMBO(31,&kp GT,LIT TLP)
TCOMBO(32,&kp GT,RIT TRP)
TCOMBO(33,&kp H,BLI BLM)
TCOMBO(34,&kp H,BRI BRM)
TCOMBO(35,&kp L,BLP BLR)
TCOMBO(36,&kp L,BRP BRR)
TCOMBO(37,&kp Y,TLI TLM)
TCOMBO(38,&kp Y,TRI TRM)
TCOMBO(39,&kp B,TLP TLR)
TCOMBO(40,&kp B,TRP TRR)
TCOMBO(41,&kp LS(H),BLI BLM LOT)
TCOMBO(42,&kp LS(H),BRI BRM ROT)
TCOMBO(43,&kp LS(L),BLP BLR LOT)
TCOMBO(44,&kp LS(L),BRP BRR ROT)
TCOMBO(45,&kp LS(Y),LOT TLI TLM)
TCOMBO(46,&kp LS(Y),ROT TRI TRM)
TCOMBO(47,&kp LS(B),LOT TLP TLR)
TCOMBO(48,&kp LS(B),ROT TRP TRR)
TCOMBO(49,&kp N0,BLI BLM LIT)
TCOMBO(50,&kp N0,BRI BRM RIT)
TCOMBO(51,&kp N4,BLP BLR LIT)
TCOMBO(52,&kp N4,BRP BRR RIT)
TCOMBO(53,&kp N5,LIT TLI TLM)
TCOMBO(54,&kp N5,RIT TRI TRM)
TCOMBO(55,&kp N9,LIT TLP TLR)
TCOMBO(56,&kp N9,RIT TRP TRR)
TCOMBO(57,&kp G,TLI TLP)
TCOMBO(58,&kp G,TRI TRP)
TCOMBO(59,&kp U,BLM BLR)
TCOMBO(60,&kp U,BRM BRR)
TCOMBO(61,&kp D,BLI BLP)
TCOMBO(62,&kp D,BRI BRP)
TCOMBO(63,&kp P,TLM TLR)
TCOMBO(64,&kp P,TRM TRR)
TCOMBO(65,&kp LS(G),LOT TLI TLP)
TCOMBO(66,&kp LS(G),ROT TRI TRP)
TCOMBO(67,&kp LS(U),BLM BLR LOT)
TCOMBO(68,&kp LS(U),BRM BRR ROT)
TCOMBO(69,&kp LS(D),BLI BLP LOT)
TCOMBO(70,&kp LS(D),BRI BRP ROT)
TCOMBO(71,&kp LS(P),LOT TLM TLR)
TCOMBO(72,&kp LS(P),ROT TRM TRR)
TCOMBO(73,&kp HASH,LIT TLI TLP)
TCOMBO(74,&kp HASH,RIT TRI TRP)
TCOMBO(75,&kp N2,BLM BLR LIT)
TCOMBO(76,&kp N2,BRM BRR RIT)
TCOMBO(77,&kp AT,BLI BLP LIT)
TCOMBO(78,&kp AT,BRI BRP RIT)
TCOMBO(79,&kp N7,LIT TLM TLR)
TCOMBO(80,&kp N7,RIT TRM TRR)
TCOMBO(81,&kp C,BLI BLR)
TCOMBO(82,&kp C,BRI BRR)
TCOMBO(83,&kp Q,BLM BLP)
TCOMBO(84,&kp Q,BRM BRP)
TCOMBO(85,&kp F,TLI TLR)
TCOMBO(86,&kp F,TRI TRR)
TCOMBO(87,&kp Z,TLM TLP)
TCOMBO(88,&kp Z,TRM TRP)
TCOMBO(89,&kp LS(C),BLI BLR LOT)
TCOMBO(90,&kp LS(C),BRI BRR ROT)
TCOMBO(91,&kp LS(Q),BLM BLP LOT)
TCOMBO(92,&kp LS(Q),BRM BRP ROT)
TCOMBO(93,&kp LS(F),LOT TLI TLR)
TCOMBO(94,&kp LS(F),ROT TRI TRR)
TCOMBO(95,&kp LS(Z),LOT TLM TLP)
TCOMBO(96,&kp LS(Z),ROT TRM TRP)
TCOMBO(97,&kp N1,BLI BLR LIT)
TCOMBO(98,&kp N1,BRI BRR RIT)
TCOMBO(99,&kp N3,BLM BLP LIT)
TCOMBO(100,&kp N3,BRM BRP RIT)
TCOMBO(101,&kp N6,LIT TLI TLR)
TCOMBO(102,&kp N6,RIT TRI TRR)
TCOMBO(103,&kp N8,LIT TLM TLP)
TCOMBO(104,&kp N8,RIT TRM TRP)
TCOMBO(105,&kp V,BLI TLR)
TCOMBO(106,&kp V,BRI TRR)
TCOMBO(107,&kp X,BLM TLP)
TCOMBO(108,&kp X,BRM TRP)
TCOMBO(109,&kp K,BLR TLI)
TCOMBO(110,&kp K,BRR TRI)
TCOMBO(111,&kp J,BLP TLM)
TCOMBO(112,&kp J,BRP TRM)
TCOMBO(113,&kp LS(V),BLI LOT TLR)
TCOMBO(114,&kp LS(V),BRI ROT TRR)
TCOMBO(115,&kp LS(X),BLM LOT TLP)
TCOMBO(116,&kp LS(X),BRM ROT TRP)
TCOMBO(117,&kp LS(K),BLR LOT TLI)
TCOMBO(118,&kp LS(K),BRR ROT TRI)
TCOMBO(119,&kp LS(J),BLP LOT TLM)
TCOMBO(120,&kp LS(J),BRP ROT TRM)
TCOMBO(121,&kp STAR,BLI LIT TLR)
TCOMBO(122,&kp STAR,BRI RIT TRR)
TCOMBO(123,&kp CARET,BLM LIT TLP)
TCOMBO(124,&kp CARET,BRM RIT TRP)
TCOMBO(125,&kp PLUS,BLR LIT TLI)
TCOMBO(126,&kp PLUS,BRR RIT TRI)
TCOMBO(127,&kp EQUAL,BLP LIT TLM)
TCOMBO(128,&kp EQUAL,BRP RIT TRM)
TCOMBO(129,&kp MINUS,BLR TLM)
TCOMBO(130,&kp MINUS,BRR TRM)
TCOMBO(131,&kp W,BLP TLI)
TCOMBO(132,&kp W,BRP TRI)
TCOMBO(133,&kp M,BLI TLP)
TCOMBO(134,&kp M,BRI TRP)
TCOMBO(135,&kp FSLH,BLM TLR)
TCOMBO(136,&kp FSLH,BRM TRR)
TCOMBO(137,&kp UNDER,BLR LOT TLM)
TCOMBO(138,&kp UNDER,BRR ROT TRM)
TCOMBO(139,&kp LS(W),BLP LOT TLI)
TCOMBO(140,&kp LS(W),BRP ROT TRI)
TCOMBO(141,&kp LS(M),BLI LOT TLP)
TCOMBO(142,&kp LS(M),BRI ROT TRP)
TCOMBO(143,&kp BSLH,BLM LOT TLR)
TCOMBO(144,&kp BSLH,BRM ROT TRR)
TCOMBO(145,&kp PRCNT,BLR LIT TLM)
TCOMBO(146,&kp PRCNT,BRR RIT TRM)
TCOMBO(147,&kp AMPS,BLP LIT TLI)
TCOMBO(148,&kp AMPS,BRP RIT TRI)
TCOMBO(149,&kp DLLR,BLI LIT TLP)
TCOMBO(150,&kp DLLR,BRI RIT TRP)
TCOMBO(151,&kp PIPE,BLM LIT TLR)
TCOMBO(152,&kp PIPE,BRM RIT TRR)
TCOMBO(153,&kp SQT,BLP TLR)
TCOMBO(154,&kp SQT,BRP TRR)
TCOMBO(155,&kp SEMI,BLR TLP)
TCOMBO(156,&kp SEMI,BRR TRP)
TCOMBO(157,&kp QMARK,BLM TLI)
TCOMBO(158,&kp QMARK,BRM TRI)
TCOMBO(159,&kp COMMA,BLI TLM)
TCOMBO(160,&kp COMMA,BRI TRM)
TCOMBO(161,&kp DQT,BLP LOT TLR)
TCOMBO(162,&kp DQT,BRP ROT TRR)
TCOMBO(163,&kp COLON,BLR LOT TLP)
TCOMBO(164,&kp COLON,BRR ROT TRP)
TCOMBO(165,&kp EXCL,BLM LOT TLI)
TCOMBO(166,&kp EXCL,BRM ROT TRI)
TCOMBO(167,&kp DOT,BLI LOT TLM)
TCOMBO(168,&kp DOT,BRI ROT TRM)
TCOMBO(169,&kp GRAVE,BLP LIT TLR)
TCOMBO(170,&kp GRAVE,BRP RIT TRR)
TCOMBO(171,&kp TILDE,BLI LIT TLM)
TCOMBO(172,&kp TILDE,BRI RIT TRM)
TCOMBO(173,&sk LEFT_GUI,BLP TLP)
TCOMBO(174,&sk LEFT_GUI,BRP TRP)
TCOMBO(175,&sk LEFT_ALT,BLR TLR)
TCOMBO(176,&sk LEFT_ALT,BRR TRR)
TCOMBO(177,&sk LEFT_CONTROL,BLM TLM)
TCOMBO(178,&sk LEFT_CONTROL,BRM TRM)
TCOMBO(179,&sk LEFT_SHIFT,BLI TLI)
TCOMBO(180,&sk LEFT_SHIFT,BRI TRI)
TCOMBO(181,&kp RIGHT,BLP TLP LOT)
TCOMBO(182,&kp RIGHT,BRP TRP ROT)
TCOMBO(183,&kp UP,BLR TLR LOT)
TCOMBO(184,&kp UP,BRR TRR ROT)
TCOMBO(185,&kp DOWN,BLM TLM LOT)
TCOMBO(186,&kp DOWN,BRM TRM ROT)
TCOMBO(187,&kp LEFT,BLI TLI LOT)
TCOMBO(188,&kp LEFT,BRI TRI ROT)
TCOMBO(189,&kp PG_UP,BLP TLP LIT)
TCOMBO(190,&kp PG_UP,BRP TRP RIT)
TCOMBO(191,&kp HOME,BLR TLR LIT)
TCOMBO(192,&kp HOME,BRR TRR RIT)
TCOMBO(193,&kp END,BLM TLM LIT)
TCOMBO(194,&kp END,BRM TRM RIT)
TCOMBO(195,&kp PG_DN,BLI TLI LIT)
TCOMBO(196,&kp PG_DN,BRI TRI RIT)
TCOMBO(197,&kp ENTER,BLI BLM BLR)
TCOMBO(198,&kp ENTER,BRI BRM BRR)
TCOMBO(199,&kp TAB,TLI TLM TLR)
TCOMBO(200,&kp TAB,TRI TRM TRR)
TCOMBO(201,&kp ESC,BLI BLM BLR LOT)
TCOMBO(202,&kp ESC,BRI BRM BRR ROT)
TCOMBO(203,&kp DEL,TLI TLM TLR LOT)
TCOMBO(204,&kp DEL,TRI TRM TRR ROT)
TCOMBO(205,&kp RALT,BLI BLM BLR LIT)
TCOMBO(206,&kp RALT,BRI BRM BRR RIT)
